.--mt-2 {
  margin-top: 2rem; }

.--mt-3 {
  margin-top: 3rem; }

.--mt-4 {
  margin-top: 4rem; }

.--mt-5 {
  margin-top: 5rem; }

.--mt-6 {
  margin-top: 6rem; }

.--mt-8 {
  margin-top: 8rem; }

.--mb-2 {
  margin-bottom: 2rem; }

.--mb-4 {
  margin-bottom: 4rem; }

.--mb-8 {
  margin-bottom: 8rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 70.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block; }

li {
  display: inline-block; }

::selection {
  background-color: #FFEEDB; }

body {
  font-family: 'Ambit', 'Roboto', sans-serif; }

.paragraph {
  color: #8F5745;
  font-size: 1.28rem;
  line-height: 1.55;
  letter-spacing: .4px;
  font-weight: 400; }

.bold {
  font-weight: 700; }

.bold-laranja {
  color: #F75A25;
  font-weight: 700; }

.main-title-pagina {
  color: #8F5745;
  font-size: 3.1rem;
  font-weight: 100; }

.helper_header-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 63%; }

.helper_header-paragraph {
  width: 37%;
  min-width: 35rem; }

.main-section-layout {
  position: relative;
  width: 94%;
  float: right;
  min-height: 100vh;
  overflow: hidden; }
  .main-section-layout:after {
    content: '';
    display: block;
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../../img/bg_tangerina_saturado-footer.png");
    background-size: cover;
    background-position: center;
    z-index: 900; }

.main-section-spacing-layout {
  padding-top: 13rem;
  padding-left: 10rem;
  position: relative; }

.default-images-container {
  z-index: -200;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%; }
  .default-images-container__img-bg-creme {
    position: absolute;
    top: -26%;
    right: -2%;
    width: 45rem;
    height: 45rem;
    z-index: -1;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .default-images-container__img-estatua-masculina {
    position: absolute;
    top: -23%;
    left: 59%;
    width: 38rem; }
  .default-images-container__img-risquinho-sol {
    position: absolute;
    top: -5%;
    left: 57%;
    width: 25rem;
    transform: rotate(-143deg); }

.language-selector {
  background-color: #F75A25;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0 0 0 1.3rem;
  box-shadow: -6px 6px #ffffff; }
  .language-selector__lista {
    padding: 1.1rem 1.2rem 1.1rem 1.6rem; }
  .language-selector__lista-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 0.6px; }
    .language-selector__lista-link--active {
      font-weight: 700; }
  .language-selector__lista-item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: .5rem;
    margin-right: 0.5em; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  background-color: #F75A25;
  color: #ffffff;
  padding: 1.1rem 2.7rem;
  letter-spacing: .8px;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 5rem;
  box-shadow: 9px 10px #FFEEDB;
  width: fit-content; }

.btn--dark, .btn--dark:link, .btn--dark:visited {
  background-color: #8F5745; }

.btn--dark-rounded, .btn--dark-rounded:link, .btn--dark-rounded:visited {
  background-color: #8F5745;
  border-radius: 20rem;
  width: 5.5rem;
  height: 5.5rem;
  padding: 0; }

.mini-menu {
  position: absolute;
  top: 6%;
  left: 7%;
  width: 28%;
  z-index: 2000; }
  .mini-menu__lista {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.3rem; }
  .mini-menu__lista-item {
    font-weight: 100;
    color: #C7ABA2;
    cursor: pointer; }
  .mini-menu__lista-link {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color .3s;
    letter-spacing: .5px; }
    .mini-menu__lista-link:hover {
      color: #8F5745; }
  .mini-menu__lista-link--active {
    color: #F75A25;
    font-weight: 700; }
    .mini-menu__lista-link--active::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: .6rem;
      height: .6rem;
      top: -.65rem;
      left: 50%;
      background-color: #F75A25;
      border-radius: 50%;
      transform: translate(-50%, -50%); }
  .mini-menu__progress-bar {
    position: relative;
    width: 100%;
    background-color: #FFEEDB;
    margin-top: 1rem;
    height: .45rem;
    border-radius: 5rem; }
    .mini-menu__progress-bar:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      border-radius: 5rem;
      background-color: #F75A25;
      width: 10%;
      top: 0;
      left: 0; }

.menu-lateral {
  background-color: #ffffff;
  z-index: 1000;
  width: 6%;
  min-width: 7.5rem;
  position: fixed;
  height: 100vh;
  box-shadow: 7px 2px 70px rgba(143, 87, 69, 0.2); }
  .menu-lateral__container {
    position: relative;
    display: flex;
    height: 100%;
    padding: 2rem 0rem 0rem 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .menu-lateral__container::after {
      content: '';
      width: .5px;
      height: 20rem;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translatex(-50%);
      background-color: rgba(247, 90, 37, 0.5); }
    .menu-lateral__container::before {
      content: '';
      width: .5px;
      height: 20rem;
      position: absolute;
      top: 54%;
      left: 50%;
      transform: translatex(-50%);
      background-color: rgba(247, 90, 37, 0.5); }
  .menu-lateral__logo {
    width: 5rem; }
  .menu-lateral__toggle {
    display: block;
    background-color: #F75A25;
    width: 5rem;
    height: 4.5rem;
    border-radius: 20%;
    background-image: url("../../img/menu-risquinhos.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 8px 8px #FFEEDB; }
  .menu-lateral__social-media-container {
    margin-top: 1.8rem;
    padding: 2rem 0;
    display: block;
    background-color: #F75A25; }
  .menu-lateral__icon-social-media:not(:last-child) {
    margin-right: .71rem; }
  .menu-lateral__frase-container {
    text-align: center;
    width: 100%; }
  .menu-lateral__frase {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.25;
    font-family: 'playfair';
    text-align: center;
    display: inline-block;
    color: #8F5745; }

.sobre-nos_layout__header-title-container {
  justify-content: unset; }

.sobre-nos_layout__header-title {
  margin-right: 4rem; }

.sobre-nos_layout__crencas-lista-coluna--1 {
  margin-right: 6rem; }

.sobre-nos_layout__crencas-lista {
  position: relative;
  margin-top: 6.7rem;
  display: flex;
  max-width: 97rem; }

.sobre-nos_layout__crencas-lista_item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem; }
  .sobre-nos_layout__crencas-lista_item::before {
    content: '';
    display: inline-block;
    height: 13rem;
    width: 11rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../img/sobre-nos/portal-lista-item.svg"); }

.sobre-nos_layout__crencas-lista_texto {
  font-family: 'Playfair';
  color: #8F5745;
  font-style: italic;
  font-weight: 100;
  font-size: 2.2rem;
  margin-left: -4rem;
  -webkit-box-decoration-break: clone; }
  .sobre-nos_layout__crencas-lista_texto:nth-of-type(odd) {
    background-color: #FFEEDB; }

.services-layout {
  padding-top: 13rem;
  padding-left: 10rem;
  position: relative; }
  .services-layout:before {
    content: '';
    position: absolute;
    right: -6%;
    top: 76%;
    display: block;
    width: 35rem;
    height: 35rem;
    background-image: url(../../img/linhas-arco.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(-50deg); }
  .services-layout__images-container {
    z-index: -200;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%; }
  .services-layout__proxima-secao-btn {
    background-image: url("../../img/arrow-next.svg");
    background-size: 22%;
    background-repeat: no-repeat;
    background-position: center; }
  .services-layout__img-bg-creme {
    position: absolute;
    top: -26%;
    right: -2%;
    width: 45rem;
    height: 45rem;
    z-index: -1;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .services-layout__img-estatua-masculina {
    position: absolute;
    top: -23%;
    left: 59%;
    width: 38rem; }
  .services-layout__img-risquinho-sol {
    position: absolute;
    top: -5%;
    left: 57%;
    width: 25rem;
    transform: rotate(-143deg); }
  .services-layout__header-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%; }
  .services-layout__header-paragraph {
    width: 37%;
    min-width: 35rem; }
  .services-layout__services-container {
    padding-right: 19rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .services-layout__proxima-secao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    justify-content: space-between; }
  .services-layout__services-item {
    position: relative;
    display: inline-block;
    width: 29rem;
    shape-outside: url("../../img/clip-path-portal.svg");
    clip-path: url("../../img/clip-path-portal.svg");
    cursor: pointer; }
    .services-layout__services-item::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 106%;
      height: 106%;
      background-image: url("../../img/stroke-img-servico.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1; }
    .services-layout__services-item:not(:last-child) {
      margin-right: 5.5rem; }
  .services-layout__services-btn, .services-layout__services-btn:link, .services-layout__services-btn:visited {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.45rem;
    font-weight: 400; }
  .services-layout__img-servico {
    width: 100%; }
  .services-layout__contador-slider {
    font-size: 1.2rem;
    color: #8F5745; }
  .services-layout__linha-horizontal {
    width: .5px;
    background-color: rgba(199, 171, 162, 0.6);
    height: 16rem; }

.services-int-layout__select-service-container {
  margin-top: 8rem;
  padding-left: 10rem;
  display: flex;
  align-items: center;
  width: 61%; }

.services-int-layout__select-service-text {
  margin-right: 6rem; }

.services-int-layout__select-service-content {
  display: flex; }

.services-int-layout__nossos-trabalhos-container {
  margin-top: 3rem; }

.services-int-layout__nossos-trabalhos-content-row {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  display: flex; }

.services-int-layout__nossos-trabalhos-item-img {
  border-radius: 1rem;
  height: 10rem; }

.services-int-layout__servico-aberto-title {
  font-weight: 100;
  color: #8F5745;
  font-size: 1.7rem;
  position: relative; }
  .services-int-layout__servico-aberto-title::after {
    content: '';
    position: absolute;
    width: 75%;
    height: .5px;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    background-color: rgba(143, 87, 69, 0.3); }
  .services-int-layout__servico-aberto-title--tarefas-executamos::after {
    width: 68%; }

.services-int-layout__nossos-trabalhos-content-item:not(:last-of-type) {
  margin-right: 1rem; }

.services-int-layout__open-service-container {
  margin-top: 8rem;
  padding-left: 11rem;
  display: flex; }

.services-int-layout__proxima-secao-container {
  justify-content: center; }

.services-int-layout__linha-horizontal {
  margin: 3rem 0;
  height: 20rem; }

.services-int-layout__contador-slider {
  text-align: center; }

.services-int-layout__open-service-content {
  position: relative;
  width: 66%;
  transform: translatex(-14rem);
  padding: 5rem 8rem 2rem 21rem;
  box-shadow: 4px 0px 30px rgba(143, 87, 69, 0.2);
  border-radius: 0 3rem 3rem 0; }
  .services-int-layout__open-service-content::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 1rem 1rem 0 0;
    bottom: 0;
    right: 8%;
    width: 71%;
    height: .3rem;
    background-color: #F75A25; }

.services-int-layout__tarefas-executamos-container {
  margin-top: 1rem; }

.services-int-layout__tarefas-executamos_lista-item {
  color: #8F5745;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 100;
  margin: 1.1rem 2rem 0 0; }
  .services-int-layout__tarefas-executamos_lista-item::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: .4rem;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translatey(-0.2rem);
    background-image: url("../../img/servico-interno/after-lista-tarefas.svg"); }

.services-int-layout__open-service-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 4rem; }

.services-int-layout__open-service-description {
  max-width: 32rem;
  display: inline-block; }

.services-int-layout__open-service-title {
  color: #F75A25;
  font-size: 2.8rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  line-height: 1.1; }
  .services-int-layout__open-service-title::before {
    content: '';
    display: inline-block;
    height: 5.8rem;
    width: 5.8rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 1.4rem; }
  .services-int-layout__open-service-title--branding::before {
    background-image: url("../../img/branding-service-after-img.svg"); }

.services-int-layout__open-service-item {
  width: 33rem;
  z-index: 200; }
  .services-int-layout__open-service-item > .portfolio-layout__services-item {
    width: 33rem; }

.services-int-layout__select-service-title {
  display: inline-block;
  position: relative;
  color: #8F5745;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 1.1;
  white-space: nowrap; }
  .services-int-layout__select-service-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2rem;
    margin-top: .6rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../img/arrow-servico.svg); }

.services-int-layout__services-btn, .services-int-layout__services-btn:link, .services-int-layout__services-btn:visited {
  font-size: 1.8rem !important;
  padding: 1.2rem 2.8rem 1.2rem 2.8rem; }

.services-int-layout__select-service-btn, .services-int-layout__select-service-btn:link, .services-int-layout__select-service-btn:active {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border-radius: 0 5rem 5rem 0;
  padding: .8rem 1.9rem 0.8rem .81rem;
  font-size: 1.3rem;
  box-shadow: 0px 9px #FFEEDB;
  background-color: #ffffff;
  color: #8F5745;
  box-shadow: none;
  opacity: .92;
  font-weight: 100; }

.services-int-layout__select-service-btn--active, .services-int-layout__select-service-btn--active:link, .services-int-layout__select-service-btn--active:active {
  color: #ffffff;
  background-color: #F75A25;
  opacity: 1;
  box-shadow: 0px 9px #FFEEDB;
  font-weight: 400; }

.services-int-layout__select-service-item {
  position: relative;
  width: 9rem;
  cursor: pointer; }
  .services-int-layout__select-service-item:not(:last-child) {
    margin-right: 2.8rem; }
  .services-int-layout__select-service-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 109%;
    height: 109%;
    background-image: url("../../img/stroke-img-servico.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; }

.services-int-layout__img-risquinho-sol-2 {
  position: absolute;
  bottom: -7%;
  right: -2%;
  width: 35rem; }

.services-int-layout__select-service-img-item {
  width: 100%;
  filter: opacity(0.4); }
  .services-int-layout__select-service-img-item--active {
    filter: none; }

.services-int-layout__img-estatua-masculina {
  left: 62%;
  width: 41rem; }

.services-int-layout__img-risquinho-sol {
  left: 60%;
  width: 28rem; }

.home-layout {
  position: relative;
  width: 94%;
  float: right;
  min-height: 100vh;
  overflow: hidden; }
  .home-layout__images-container {
    position: relative;
    float: right;
    width: 65%;
    min-height: 100vh;
    left: 2rem; }
  .home-layout__img-estatua {
    position: absolute;
    left: 4%;
    bottom: -7%;
    width: 73%;
    z-index: 50; }
  .home-layout__img-colunas {
    position: absolute;
    bottom: 0;
    left: -3%;
    z-index: 40;
    width: 45rem; }
  .home-layout__img-pi-quadrado {
    position: absolute;
    top: 54%;
    left: 80%;
    width: 4.2rem; }
  .home-layout__risquinhos-arco--comp {
    position: absolute;
    top: 63%;
    left: 38%;
    transform: rotate(140deg); }
  .home-layout__img-circulo {
    position: absolute;
    width: 35rem;
    height: 35rem;
    top: 20%;
    left: 14%;
    z-index: -1;
    background-color: #F75A25;
    border-radius: 30rem; }
    .home-layout__img-circulo::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 113%;
      height: 113%;
      border-radius: 30rem;
      border: 2px solid #F75A25; }
  .home-layout:after {
    content: '';
    display: block;
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    background-image: url("../../img/bg_tangerina_saturado-footer.png");
    background-size: cover;
    background-position: center;
    z-index: 900; }
  .home-layout:before {
    content: '';
    display: block;
    width: 70rem;
    height: 70rem;
    position: absolute;
    right: -10%;
    top: -38%;
    background-image: url("../../img/bg-creme.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .home-layout__ciruclo-bg-creme {
    width: 30rem;
    height: 30rem;
    position: absolute;
    right: -4%;
    bottom: -14rem;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center; }
  .home-layout__risquinhos-arco {
    position: absolute;
    top: 80%;
    left: -6%;
    z-index: -1;
    width: 41rem; }
  .home-layout__title-container {
    position: absolute;
    top: 22%;
    left: 7.5%; }
  .home-layout__content {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh; }
  .home-layout__title {
    color: #8F5745;
    font-weight: 100;
    font-size: 5.3rem;
    line-height: 1; }
  .home-layout__title-emphasis {
    color: #F75A25;
    font-weight: 700;
    font-size: 5.8rem; }
  .home-layout__paragraph {
    width: 28rem; }
  .home-layout__btn-primary:link, .home-layout__btn-primary:visited {
    font-weight: 100;
    padding-bottom: 1.5rem;
    margin-left: -1rem; }
  .home-layout__btn-primary::before {
    content: '';
    vertical-align: sub;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("../../img/icon-portfolio-home.svg");
    margin-right: 1rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; }

.portfolio-layout {
  padding-top: 13rem;
  padding-left: 10rem;
  position: relative; }
  .portfolio-layout:before {
    content: '';
    position: absolute;
    right: -6%;
    top: 76%;
    display: block;
    width: 35rem;
    height: 35rem;
    background-image: url(../../img/linhas-arco.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(-50deg); }
  .portfolio-layout__images-container {
    z-index: -200;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%; }
  .portfolio-layout__proxima-secao-btn {
    background-image: url("../../img/arrow-next.svg");
    background-size: 22%;
    background-repeat: no-repeat;
    background-position: center; }
  .portfolio-layout__img-bg-creme {
    position: absolute;
    top: -26%;
    right: -2%;
    width: 45rem;
    height: 45rem;
    z-index: -1;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .portfolio-layout__img-estatua-masculina {
    position: absolute;
    top: -23%;
    left: 59%;
    width: 38rem; }
  .portfolio-layout__img-risquinho-sol {
    position: absolute;
    top: -5%;
    left: 57%;
    width: 25rem;
    transform: rotate(-143deg); }
  .portfolio-layout__header-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%; }
  .portfolio-layout__header-paragraph {
    width: 37%;
    min-width: 35rem; }
  .portfolio-layout__services-container {
    padding-right: 19rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .portfolio-layout__proxima-secao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    justify-content: space-between; }
  .portfolio-layout__services-item {
    position: relative;
    display: inline-block;
    width: 29rem;
    shape-outside: url("../../img/clip-path-portal.svg");
    clip-path: url("../../img/clip-path-portal.svg");
    cursor: pointer; }
    .portfolio-layout__services-item::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 106%;
      height: 106%;
      background-image: url("../../img/stroke-img-servico.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1; }
    .portfolio-layout__services-item:not(:last-child) {
      margin-right: 5.5rem; }
  .portfolio-layout__services-btn, .portfolio-layout__services-btn:link, .portfolio-layout__services-btn:visited {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.45rem;
    font-weight: 400; }
  .portfolio-layout__img-servico {
    width: 100%; }
  .portfolio-layout__contador-slider {
    font-size: 1.2rem;
    color: #8F5745; }
  .portfolio-layout__linha-horizontal {
    width: .5px;
    background-color: rgba(199, 171, 162, 0.6);
    height: 16rem; }
