.--mt-2 {
  margin-top: 2rem; }

.--mt-3 {
  margin-top: 3rem; }

.--mt-4 {
  margin-top: 4rem; }

.--mt-5 {
  margin-top: 5rem; }

.--mt-6 {
  margin-top: 6rem; }

.--mt-8 {
  margin-top: 8rem; }

.--mb-2 {
  margin-bottom: 2rem; }

.--mb-4 {
  margin-bottom: 4rem; }

.--mb-8 {
  margin-bottom: 8rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 70.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  color: #8F5745;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block; }

li {
  display: inline-block; }

::selection {
  background-color: #FFEEDB; }

body {
  font-family: 'Ambit', 'Roboto', sans-serif; }

h1, h2, h3, h4, h5 {
  font-weight: inherit;
  letter-spacing: .5px; }

.paragraph {
  color: #6e4335;
  font-size: 1.28rem;
  line-height: 1.55;
  letter-spacing: .4px;
  font-weight: 400; }

.paragraph-peq {
  color: #6e4335;
  font-size: 1.1rem;
  line-height: 1.55;
  letter-spacing: .4px;
  font-weight: 400; }

.bold {
  font-weight: 700; }

.boldinho {
  font-weight: 400; }

.bold-laranja {
  color: #F75A25;
  font-weight: 700; }

.laranja {
  color: #F75A25; }

.main-title-pagina {
  color: #8F5745;
  font-size: 3.1rem;
  font-weight: 100; }

.helper_header-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 63%; }

.helper_header-paragraph {
  width: 37%;
  min-width: 35rem; }

.main-section-layout {
  position: relative;
  width: 95%;
  float: right;
  min-height: 100vh;
  overflow: hidden; }
  .main-section-layout:after {
    content: '';
    display: block;
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../../img/bg_tangerina_saturado-footer.png");
    background-size: cover;
    background-position: center;
    z-index: 900; }

.main-section-spacing-layout {
  padding-top: 13rem;
  padding-left: 10rem;
  position: relative; }

.default-images-container {
  z-index: -200;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%; }
  .default-images-container__img-bg-creme {
    position: absolute;
    top: -26%;
    right: -2%;
    width: 45rem;
    height: 45rem;
    z-index: -1;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .default-images-container__img-estatua-masculina {
    position: absolute;
    top: -23%;
    left: 59%;
    width: 38rem; }
  .default-images-container__img-risquinho-sol {
    position: absolute;
    top: -5%;
    left: 57%;
    width: 25rem;
    transform: rotate(-143deg); }

.slider-posts {
  width: 100%;
  margin-top: 5rem;
  background-color: #FFEEDB;
  padding-top: 6rem;
  padding-bottom: 4rem;
  position: relative; }
  .slider-posts__item {
    display: inline-block;
    width: 32rem;
    background-color: #ffffff; }
  .slider-posts__content {
    margin: 0 auto;
    width: fit-content; }
  .slider-posts__btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    transform: translate(-50%, -50%); }
  .slider-posts .slider-posts__btn:link, .slider-posts .slider-posts__btn:visited, .slider-posts .slider-posts__btn:active {
    width: 4.7rem;
    height: 4.7rem; }
  .slider-posts .slider-posts__btn--next:link, .slider-posts .slider-posts__btn--next:visited, .slider-posts .slider-posts__btn--next:active {
    background-image: url(../../img/arrow-next.svg);
    box-shadow: -7px 8px rgba(143, 87, 69, 0.2); }
  .slider-posts .slider-posts__btn--back:link, .slider-posts .slider-posts__btn--back:visited, .slider-posts .slider-posts__btn--back:active {
    background-image: url(../../img/arrow-next.svg);
    transform: rotate(180deg);
    box-shadow: -7px -8px rgba(143, 87, 69, 0.2); }
  .slider-posts__contagem-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
  .slider-posts__contagem-lista {
    margin: 0 auto; }
  .slider-posts__contagem-lista-item {
    position: relative;
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 50%;
    border: 0.5px solid rgba(247, 90, 37, 0.5);
    background-color: #ffffff; }
    .slider-posts__contagem-lista-item--active::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 51%;
      transform: translate(-56%, -56%);
      width: 70%;
      height: 70%;
      background-color: #F75A25;
      border-radius: 50%; }
    .slider-posts__contagem-lista-item:not(:last-child) {
      margin-right: .5rem; }

.figure-post {
  display: flex;
  align-items: flex-start;
  margin: 4rem 0; }
  .figure-post__img-figure {
    margin: 0 !important;
    border-radius: 2rem;
    height: 17rem;
    width: 22rem !important;
    object-fit: cover; }
  .figure-post__figcaption {
    display: inline-block;
    margin-left: 4rem; }
  .figure-post__titulo {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 100;
    margin-bottom: 1.6rem; }
    .figure-post__titulo::after {
      content: '';
      height: 1px;
      display: block;
      margin-top: -.4rem;
      width: 100%;
      background-color: #8F5745; }
  .figure-post__figcaption-text {
    display: block; }

.blog-aside {
  position: absolute;
  top: 33%;
  left: 66%; }
  .blog-aside__lista-content {
    margin-bottom: 3rem;
    position: relative;
    background-color: #ffffff;
    box-shadow: 11px 11px #FFEEDB;
    padding: 2rem 2.8rem;
    border-radius: 2.4rem;
    border: 0.5px solid rgba(247, 90, 37, 0.5); }
    .blog-aside__lista-content::after {
      content: 'Compartilhe';
      display: inline-block;
      position: absolute;
      color: #8F5745;
      background-color: #ffffff;
      top: 0;
      left: 25%;
      padding: 0 .71rem;
      font-size: 1.3rem;
      font-weight: 100;
      letter-spacing: .5px;
      transform: translate(-50%, -50%); }
  .blog-aside__lista-item:not(:last-child) {
    margin-right: 1rem; }
  .blog-aside__lista-link {
    display: inline-block;
    font-size: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle; }
    .blog-aside__lista-link--whatsapp {
      background-image: url(../../img/blog/icones-aside/whatsapp.svg); }
    .blog-aside__lista-link--facebook {
      background-image: url(../../img/blog/icones-aside/facebook.svg); }
    .blog-aside__lista-link--instagram {
      background-image: url(../../img/blog/icones-aside/instagram.svg); }
    .blog-aside__lista-link--twitter {
      background-image: url(../../img/blog/icones-aside/twitter.svg); }
    .blog-aside__lista-link--linkedin {
      background-image: url(../../img/blog/icones-aside/linkedin.svg); }
    .blog-aside__lista-link--link {
      background-image: url(../../img/blog/icones-aside/link.svg); }
  .blog-aside__btn-navegacao {
    width: 100%; }

.secao-compartilhar {
  padding: 2rem 2.8rem;
  border-radius: 2.4rem; }
  .secao-compartilhar__lista-item:not(:last-child) {
    margin-right: .7rem; }
  .secao-compartilhar__lista-link {
    display: inline-block;
    font-size: 0;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle; }
    .secao-compartilhar__lista-link--whatsapp {
      background-image: url(../../img/blog/icones-aside/whatsapp.svg); }
    .secao-compartilhar__lista-link--facebook {
      background-image: url(../../img/blog/icones-aside/facebook.svg); }
    .secao-compartilhar__lista-link--instagram {
      background-image: url(../../img/blog/icones-aside/instagram.svg); }
    .secao-compartilhar__lista-link--twitter {
      background-image: url(../../img/blog/icones-aside/twitter.svg); }
    .secao-compartilhar__lista-link--linkedin {
      background-image: url(../../img/blog/icones-aside/linkedin.svg); }
    .secao-compartilhar__lista-link--link {
      background-image: url(../../img/blog/icones-aside/link.svg); }

.card-artigo {
  display: flex;
  align-items: center;
  width: 25%;
  min-width: 34rem;
  height: 9rem; }
  .card-artigo__link {
    display: inline-block;
    text-decoration: none;
    color: #8F5745;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    line-height: 1.2; }
  .card-artigo__img {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 9rem; }
  .card-artigo__img-container {
    width: 25rem;
    margin-right: 2rem;
    overflow: hidden;
    border-radius: 1rem;
    height: 9rem; }
  .card-artigo__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0; }
  .card-artigo__destaques-dados-container {
    position: relative;
    bottom: 0;
    left: 0;
    border-radius: 0 1rem 0 0;
    color: #8F5745;
    font-size: 1.2rem;
    background-color: #ffffff; }
  .card-artigo__item-dado:not(:last-child) {
    margin-right: .5rem; }
  .card-artigo__item-dado::before {
    content: '';
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: text-bottom;
    margin-right: .51rem;
    transform: translatey(-0.2rem); }
  .card-artigo__item-dado--tempo::before {
    background-image: url(../../img/blog/clock.svg); }
  .card-artigo__item-dado--data::before {
    background-image: url(../../img/blog/calendar.svg); }

.final-section-nav {
  margin-top: 9rem;
  margin-left: 10rem; }
  .final-section-nav__btn, .final-section-nav__btn:link, .final-section-nav__btn:visited {
    font-size: 1.2rem; }
    .final-section-nav__btn::before, .final-section-nav__btn:link::before, .final-section-nav__btn:visited::before {
      content: '';
      width: 6rem;
      height: 1.4rem;
      margin-right: 1.2rem;
      display: inline-block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../../img/portfolio/seta-nav.svg); }
    .final-section-nav__btn:not(:last-child), .final-section-nav__btn:link:not(:last-child), .final-section-nav__btn:visited:not(:last-child) {
      margin-right: 4rem; }

.form-input {
  display: inline-block;
  font-family: inherit;
  color: #8F5745;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.8;
  padding: 0 2rem;
  outline: none;
  border: none;
  border-bottom: 2.5px solid #8F5745;
  width: fit-content;
  transition: color .4s; }
  .form-input::placeholder {
    color: rgba(143, 87, 69, 0.4);
    font-weight: 100;
    font-size: 2.5rem; }
  .form-input:focus {
    background-image: linear-gradient(to top, rgba(255, 238, 219, 0.4) 0%, rgba(255, 238, 219, 0.4) 40%, #ffffff 40%);
    border-radius: 2rem 2rem 0 0;
    border-color: #F75A25; }

.select-form-input {
  appearance: none;
  color: #8F5745;
  font-size: 2.3rem;
  width: 34rem;
  position: relative;
  background-color: #ffffff;
  font-family: inherit;
  font-weight: 100;
  line-height: 1.8;
  text-align: center;
  border: none;
  padding: 0 2rem;
  border-bottom: 2.5px solid #8F5745; }
  .select-form-input::before {
    content: '';
    display: inline-block;
    top: 10%;
    left: 10%;
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../img/portfolio/seta.svg); }
  .select-form-input:focus {
    outline: none;
    background-image: linear-gradient(to top, rgba(255, 238, 219, 0.4) 0%, rgba(255, 238, 219, 0.4) 40%, #ffffff 40%);
    border-radius: 2rem 2rem 0 0; }

.language-selector {
  z-index: 1000;
  background-color: #F75A25;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0 0 0 1.3rem;
  box-shadow: -6px 6px #ffffff; }
  .language-selector__lista {
    padding: 1.1rem 1.2rem 1.1rem 1.6rem; }
  .language-selector__lista-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 0.6px; }
    .language-selector__lista-link--active {
      font-weight: 700; }
  .language-selector__lista-item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: .5rem;
    margin-right: 0.5em; }

.btn, .btn:link, .btn:visited {
  font-family: inherit;
  border: none;
  display: inline-block;
  background-color: #F75A25;
  color: #ffffff;
  padding: 1.1rem 2.7rem;
  letter-spacing: .8px;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 5rem;
  box-shadow: 9px 10px #FFEEDB;
  width: fit-content;
  cursor: pointer; }

.btn--dark, .btn--dark:link, .btn--dark:visited {
  background-color: #8F5745; }

.btn--light, .btn--light:link, .btn--light:visited {
  background-color: #ffffff;
  color: #8F5745;
  font-size: 2.3rem;
  font-weight: 100; }

.btn--dark-rounded, .btn--dark-rounded:link, .btn--dark-rounded:visited {
  background-color: #8F5745;
  border-radius: 20rem;
  width: 5.5rem;
  height: 5.5rem;
  padding: 0;
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: center; }

.btn--navegacao {
  display: inline-block;
  color: #8F5745;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 1.72rem 2.8rem;
  border: 1px solid rgba(247, 90, 37, 0.5);
  letter-spacing: .5px;
  border-radius: 2.4rem;
  box-shadow: 11px 11px #FFEEDB;
  font-weight: 100; }
  .btn--navegacao::after {
    content: '';
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../img/seta-laranja-pequena.svg);
    height: 2rem;
    width: 6rem;
    vertical-align: middle;
    margin-left: 1.5rem; }
  .btn--navegacao--back::before {
    content: '';
    display: inline-block;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../../img/seta-laranja-pequena.svg);
    height: 2rem;
    width: 4rem;
    vertical-align: middle;
    margin-right: 1.5rem;
    transform: rotate(180deg); }
  .btn--navegacao--back::after {
    display: none; }
  .btn--navegacao--laranja::after {
    filter: saturate(0) brightness(2);
    background-position: right;
    background-size: unset;
    width: 4rem; }

.mini-menu {
  position: absolute;
  top: 7rem;
  left: 7%;
  width: 28%;
  z-index: 2000; }
  .mini-menu__lista {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.3rem; }
  .mini-menu__lista-item {
    font-weight: 100;
    color: #8F5745;
    cursor: pointer; }
  .mini-menu__lista-link {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color .3s;
    letter-spacing: .5px; }
    .mini-menu__lista-link:hover {
      color: #6e4335; }
  .mini-menu__lista-link--active {
    color: #F75A25;
    font-weight: 700; }
    .mini-menu__lista-link--active::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: .6rem;
      height: .6rem;
      top: -.65rem;
      left: 50%;
      background-color: #F75A25;
      border-radius: 50%;
      transform: translate(-50%, -50%); }
  .mini-menu__progress-bar {
    position: relative;
    width: 100%;
    background-color: #FFEEDB;
    margin-top: 1rem;
    height: .45rem;
    border-radius: 5rem; }
    .mini-menu__progress-bar:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      border-radius: 5rem;
      background-color: #F75A25;
      width: 10%;
      top: 0;
      left: 0; }

.menu-lateral {
  background-color: #ffffff;
  z-index: 1000;
  width: 5%;
  min-width: 7.5rem;
  position: fixed;
  height: 100vh;
  box-shadow: 7px 2px 70px rgba(143, 87, 69, 0.2); }
  .menu-lateral__container {
    position: relative;
    display: flex;
    height: 100%;
    padding: 2rem 0rem 0rem 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .menu-lateral__container::after {
      content: '';
      width: .5px;
      height: 26vh;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translatex(-50%);
      background-color: rgba(247, 90, 37, 0.5); }
    .menu-lateral__container::before {
      content: '';
      width: .5px;
      height: 26vh;
      position: absolute;
      top: 54%;
      left: 50%;
      transform: translatex(-50%);
      background-color: rgba(247, 90, 37, 0.5); }
  .menu-lateral__logo {
    width: 5rem; }
  .menu-lateral__toggle {
    display: block;
    background-color: #F75A25;
    width: 5rem;
    height: 4.5rem;
    border-radius: 20%;
    background-image: url("../../img/menu-risquinhos.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 8px 8px #FFEEDB; }
  .menu-lateral__social-media-container {
    margin-top: 1.8rem;
    padding: 2rem 0;
    display: block;
    background-color: #F75A25; }
  .menu-lateral__icon-social-media:not(:last-child) {
    margin-right: .71rem; }
  .menu-lateral__frase-container {
    text-align: center;
    width: 100%; }
  .menu-lateral__frase {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.25;
    font-family: 'playfair';
    text-align: center;
    display: inline-block;
    color: #8F5745; }

.card-destaque__item {
  width: 33rem;
  position: relative;
  background-color: #ffffff;
  border-radius: 2rem; }
  .card-destaque__item:not(:last-child) {
    margin-right: 2rem; }

.card-destaque__destaque-img {
  display: block;
  border-radius: 2rem;
  width: 100%; }

.card-destaque__destaques-img-container {
  position: relative;
  width: 100%; }

.card-destaque__destaques-dados-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 1.4rem 0 2.7rem;
  border-radius: 0 1rem 0 0;
  color: #8F5745;
  font-size: 1.2rem;
  background-color: #ffffff; }

.card-destaque__item-dado:not(:last-child) {
  margin-right: .5rem; }

.card-destaque__item-dado::before {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: text-bottom;
  margin-right: .51rem;
  transform: translatey(-0.2rem); }

.card-destaque__item-dado--tempo::before {
  background-image: url(../../img/blog/clock.svg); }

.card-destaque__item-dado--data::before {
  background-image: url(../../img/blog/calendar.svg); }

.card-destaque__destaques-text-container {
  margin-top: 1.5rem;
  padding: 0 2.7rem 2.7rem 2.7rem; }

.card-destaque__destaques-title-link {
  color: #F75A25;
  letter-spacing: .2px;
  display: inline-block;
  font-size: 1.69rem;
  margin-bottom: .5rem;
  text-decoration: none;
  font-weight: 400; }

.blog-item-layout {
  position: relative; }
  .blog-item-layout::before {
    position: absolute;
    content: '';
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../img/linhas-arco.svg);
    height: 20rem;
    width: 30rem;
    bottom: -2%;
    right: -6%; }
  .blog-item-layout__header-container {
    width: 100%; }
  .blog-item-layout__img-header {
    width: 100%; }
  .blog-item-layout__title-container {
    position: relative;
    margin: 0 auto;
    margin-top: -9rem;
    width: 60rem;
    max-width: 80rem;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 4rem 5rem 0 4rem; }
  .blog-item-layout__post-descricao {
    display: block;
    font-family: 'playfair';
    font-style: italic;
    font-size: 1.4em;
    line-height: 1.3; }
  .blog-item-layout__dados-descricao {
    margin-top: 4rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between; }
  .blog-item-layout__dado-descricao-item:not(:last-child)::after {
    content: '';
    height: 3rem;
    display: inline-block;
    width: 1px;
    background-color: rgba(110, 67, 53, 0.25);
    vertical-align: middle;
    margin: 0 2rem; }
  .blog-item-layout__autor-container {
    display: flex;
    align-items: center; }
  .blog-item-layout__data-publicacao {
    display: inline-block;
    font-weight: 400;
    color: #8F5745; }
    .blog-item-layout__data-publicacao::before {
      content: '';
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 1.4rem;
      height: 1.4rem;
      vertical-align: middle;
      margin-right: .31rem;
      transform: translatey(-0.3rem);
      background-image: url(../../img/blog/calendar.svg); }
  .blog-item-layout__img-autor {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%; }
  .blog-item-layout__nome-autor {
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 1rem; }
  .blog-item-layout__title {
    text-align: center;
    display: inline-block;
    color: #8F5745;
    letter-spacing: .5px;
    font-size: 4rem;
    font-weight: 100; }
    .blog-item-layout__title::after {
      content: '';
      display: block;
      height: 2px;
      width: 20%;
      margin: 3.5rem auto;
      background-color: #F75A25;
      background-image: url(../../img/blog/calendar.svg); }
  .blog-item-layout__dados-container {
    display: flex;
    margin-top: 1.8rem;
    letter-spacing: .2px; }
  .blog-item-layout__conteudo-texto-post {
    font-size: 1.4rem;
    letter-spacing: .5px;
    line-height: 1.7; }
  .blog-item-layout__dados-item-lista_title {
    display: inline-block;
    font-weight: 400;
    margin-right: 1.1rem; }
  .blog-item-layout__dados-item-lista_valor {
    display: inline-block;
    font-weight: 400;
    color: #8F5745; }
    .blog-item-layout__dados-item-lista_valor::before {
      content: '';
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 1.4rem;
      height: 1.4rem;
      vertical-align: middle;
      margin-right: .31rem;
      transform: translatey(-0.3rem); }
    .blog-item-layout__dados-item-lista_valor--tempo-leitura::before {
      background-image: url(../../img/blog/clock.svg); }
    .blog-item-layout__dados-item-lista_valor--data-publicacao::before {
      background-image: url(../../img/blog/calendar.svg); }
  .blog-item-layout__item-lista-categoria {
    display: inline-block;
    font-weight: 400;
    color: rgba(143, 87, 69, 0.9); }
    .blog-item-layout__item-lista-categoria::before {
      content: '';
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: .31rem;
      width: 1.4rem;
      height: 1.4rem;
      background-image: url(../../img/servico-interno/after-lista-tarefas.svg);
      vertical-align: middle;
      transform: translatey(-0.2rem); }
    .blog-item-layout__item-lista-categoria:not(:last-child) {
      margin-right: 1rem; }
  .blog-item-layout__dados-item-lista_container {
    color: #8F5745;
    font-size: 1.3rem; }
    .blog-item-layout__dados-item-lista_container:not(:last-child) {
      margin-right: 2rem; }
  .blog-item-layout__conteudo-post-container {
    position: relative;
    width: 54rem;
    padding-top: 4rem;
    margin: 0 auto;
    margin-top: 4rem;
    color: #6e4335; }
    .blog-item-layout__conteudo-post-container p:not(:last-child) {
      margin-bottom: 2rem; }
    .blog-item-layout__conteudo-post-container p:not(:first-child) {
      margin-top: 2rem; }
    .blog-item-layout__conteudo-post-container img:not(:last-child) {
      width: 100%;
      margin: 2rem 0; }
    .blog-item-layout__conteudo-post-container::before {
      content: '';
      height: 1px;
      width: 120%;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: rgba(143, 87, 69, 0.3);
      transform: translate(-50%, -50%); }
  .blog-item-layout__rodape-post {
    width: 45rem;
    margin: 0 auto;
    margin-top: 6rem;
    position: relative; }
    .blog-item-layout__rodape-post::before {
      content: '';
      position: absolute;
      left: 50%;
      top: -1rem;
      transform: translate(-50%, -50%);
      width: 120%;
      display: block;
      height: .5px;
      background-color: rgba(110, 67, 53, 0.2); }
    .blog-item-layout__rodape-post::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -1rem;
      transform: translate(-50%, -50%);
      width: 120%;
      display: block;
      height: .5px;
      background-color: rgba(110, 67, 53, 0.2); }
    .blog-item-layout__rodape-post .blog-item-layout__dados-descricao {
      margin: 0; }
  .blog-item-layout__outros-posts-container {
    position: relative;
    margin-top: 12rem; }
  .blog-item-layout__title-outros-posts {
    font-size: 2rem;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 0;
    left: 50%;
    background-color: #ffffff;
    border-radius: 3rem;
    padding: 1.7rem 3.5rem;
    font-weight: 100; }
    .blog-item-layout__title-outros-posts::before {
      content: '';
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 2.2rem;
      height: 2.2rem;
      background-image: url(../../img/pi-symbol.svg);
      vertical-align: text-top;
      margin-right: 1rem; }
  .blog-item-layout__blog-footer {
    position: relative;
    width: 67%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem 0 2.5rem 0;
    justify-content: space-between; }
  .blog-item-layout__logo-footer-container {
    width: 26rem; }
  .blog-item-layout__logo-footer {
    width: 100%; }
  .blog-item-layout .blog-item-layout__btn-footer {
    font-size: 1.4rem;
    padding: 1.2rem 2.6rem;
    box-shadow: 7px 8px #ffeedb;
    border: 0.5px solid rgba(247, 90, 37, 0.3); }
    .blog-item-layout .blog-item-layout__btn-footer:not(:last-child) {
      margin-right: 2rem; }

.blog-layout::after {
  display: none; }

.blog-layout__title-container {
  margin-top: 15rem;
  margin-left: 12rem;
  display: flex;
  align-items: center;
  max-width: 50%; }

.blog-layout__title {
  font-size: 3rem;
  color: #F75A25;
  min-width: 35rem;
  font-weight: 700;
  letter-spacing: .5px; }

.blog-layout__paragraph {
  margin-left: 4rem; }

.blog-layout__destaques-blog-container {
  position: relative;
  margin-top: 6rem;
  margin-left: 11rem;
  margin-right: 16rem;
  background-color: #FFEEDB;
  width: fit-content;
  border-radius: 3rem;
  padding: 4rem 4rem 3rem 4rem; }
  .blog-layout__destaques-blog-container::after {
    content: '';
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-image: url(../../img/blog/ESTATUA-MULHER.png);
    width: 25rem;
    height: 41rem;
    right: 2%;
    top: -10%;
    transform: translate(-50%, -50%);
    z-index: -1; }

.blog-layout__destaques-blog-content {
  display: flex;
  width: fit-content; }

.blog-layout__destaques-title-container {
  position: absolute;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: #8F5745;
  top: 0;
  transform: translatey(-50%);
  left: 3.5%;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .5px; }

.blog-layout__destaques-item {
  width: 25%;
  position: relative;
  background-color: #ffffff;
  border-radius: 2rem; }
  .blog-layout__destaques-item:not(:last-child) {
    margin-right: 2rem; }

.blog-layout__destaque-img {
  display: block;
  border-radius: 2rem;
  width: 100%; }

.blog-layout__destaques-img-container {
  position: relative;
  width: 100%; }

.blog-layout__destaques-dados-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 1.4rem 0 2.7rem;
  border-radius: 0 1rem 0 0;
  color: #8F5745;
  font-size: 1.2rem;
  background-color: #ffffff; }

.blog-layout__item-dado:not(:last-child) {
  margin-right: .5rem; }

.blog-layout__item-dado::before {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: text-bottom;
  margin-right: .51rem;
  transform: translatey(-0.2rem); }

.blog-layout__item-dado--tempo::before {
  background-image: url(../../img/blog/clock.svg); }

.blog-layout__item-dado--data::before {
  background-image: url(../../img/blog/calendar.svg); }

.blog-layout__destaques-text-container {
  margin-top: 1.5rem;
  padding: 0 2.7rem 2.7rem 2.7rem; }

.blog-layout__destaques-title-link {
  color: #F75A25;
  letter-spacing: .2px;
  display: inline-block;
  font-size: 1.69rem;
  margin-bottom: .5rem;
  text-decoration: none;
  font-weight: 400; }

.blog-layout__artigos-geral-container {
  margin-left: 13rem;
  margin-top: 4rem;
  width: 82%; }

.blog-layout__artigos-geral-title-content {
  font-size: 1.5rem;
  color: #8F5745;
  letter-spacing: .5px;
  margin-bottom: 4rem; }

.blog-layout__artigos-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.blog-layout__botoes-navegacao-container {
  display: flex;
  position: relative;
  width: 83%;
  justify-content: center;
  margin-left: 13rem;
  margin-top: 6rem;
  margin-bottom: 10rem; }
  .blog-layout__botoes-navegacao-container .btn {
    font-size: 1.52rem; }
    .blog-layout__botoes-navegacao-container .btn:not(:last-child) {
      margin-right: 2rem; }
  .blog-layout__botoes-navegacao-container::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 54%;
    left: 50%;
    height: 1px;
    z-index: -1;
    background-color: rgba(247, 90, 37, 0.4); }

.blog-layout__img-bg-creme {
  top: -38%;
  right: 9%;
  width: 45rem;
  height: 45rem; }

.blog-layout__img-risquinho-sol {
  z-index: -2; }

.contato-layout__title-container {
  margin-top: 20rem;
  margin-left: 12rem;
  display: flex; }

.contato-layout__title {
  font-size: 3.6rem;
  color: #F75A25; }

.contato-layout__paragraph {
  width: 40rem;
  margin-left: 4rem; }

.contato-layout__form-container {
  margin-top: 6rem;
  margin-left: 12rem;
  width: 80%; }

.contato-layout__form-text {
  color: #8F5745;
  font-size: 3rem;
  font-weight: 100;
  line-height: 2;
  vertical-align: -webkit-baseline-middle; }

.contato-layout__btn-form, .contato-layout__btn-form:visited, .contato-layout__btn-form:link {
  font-size: 1.7rem;
  margin-left: 2.2rem;
  padding: 1.3rem 2.3rem;
  transform: translatey(0.5rem); }

.contato-layout__shortcuts-contato-container {
  margin-left: 13rem;
  margin-top: 5rem; }

.contato-layout__shortcuts-contato-link {
  position: relative;
  font-size: 2rem;
  color: #8F5745;
  text-decoration: none;
  font-weight: 100; }
  .contato-layout__shortcuts-contato-link::before {
    content: '';
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .contato-layout__shortcuts-contato-link--whatsapp::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 1px;
    bottom: -27%;
    right: 0;
    background-color: #F75A25; }
  .contato-layout__shortcuts-contato-link--whatsapp::before {
    background-image: url(../../img/portfolio/icone-zap.svg); }
  .contato-layout__shortcuts-contato-link--telefone::before {
    background-image: url(../../img/portfolio/icone-telefone.svg); }
  .contato-layout__shortcuts-contato-link--email::before {
    background-image: url(../../img/portfolio/icone-email.svg); }
  .contato-layout__shortcuts-contato-link:not(:last-child) {
    margin-right: 4rem; }

.contato-layout__final-section-nav .btn {
  font-size: 1.8rem;
  padding: 1.5rem 3rem; }

.contato-layout__img-risquinho-sol-2 {
  position: absolute;
  top: 82%;
  left: 58%;
  width: 41rem; }

.contato-layout__img-bg-creme {
  top: -34%;
  right: 7%;
  width: 40rem;
  height: 40rem; }

.contato-layout__img-bg-creme-2 {
  position: absolute;
  top: 70%;
  left: 85%;
  width: 30rem;
  height: 30rem; }

.contato-layout__img-estatua-em-pe {
  position: absolute;
  left: 67%;
  top: 29%;
  width: 46rem; }

.sobre-nos_layout__header-title-container {
  justify-content: unset; }

.sobre-nos_layout__header-title {
  margin-right: 4rem; }

.sobre-nos_layout__miolo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 133rem; }

.sobre-nos_layout__crencas-container {
  margin-top: 7.7rem; }

.sobre-nos_layout__crencas-lista-coluna--1 {
  margin-right: 6rem; }

.sobre-nos_layout__crencas-lista {
  position: relative;
  display: flex;
  max-width: 97rem; }

.sobre-nos_layout__crencas-lista_item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem; }
  .sobre-nos_layout__crencas-lista_item::before {
    content: '';
    display: inline-block;
    height: 13rem;
    width: 11rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../img/sobre-nos/portal-lista-item.svg"); }

.sobre-nos_layout__crencas-lista_texto {
  font-family: 'Playfair';
  color: #8F5745;
  font-style: italic;
  font-weight: 100;
  font-size: 2.2rem;
  transform: translate(-4.5rem, -0.4rem);
  -webkit-box-decoration-break: clone;
  background-color: white;
  padding: .5rem 0; }
  .sobre-nos_layout__crencas-lista_texto .bold {
    background-image: linear-gradient(to top, #FFEEDB 0%, #FFEEDB 40%, #ffffff 40%); }

.sobre-nos_layout__descricao-box_container {
  position: relative;
  background-color: #FFEEDB;
  border-radius: 3rem;
  padding: 1rem 0;
  max-width: 42rem;
  height: fit-content; }
  .sobre-nos_layout__descricao-box_container::before {
    content: '';
    position: absolute;
    top: -12%;
    left: 54%;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(178deg);
    display: block;
    width: 67rem;
    height: 42rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../img/ESTATUA-HOMEM-1.png); }
  .sobre-nos_layout__descricao-box_container::after {
    content: '';
    position: absolute;
    bottom: -60%;
    left: 51%;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(175deg);
    display: block;
    width: 32rem;
    height: 28rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../img/linhas-arco.svg); }

.sobre-nos_layout__descricao-box_item {
  width: 87%;
  height: 19.5rem;
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem auto;
  padding: 0rem 1rem 0rem 4rem;
  background-color: #ffffff;
  border-radius: 3rem 20rem 20rem 3rem; }
  .sobre-nos_layout__descricao-box_item:not(:first-child) {
    margin-top: 0; }

.sobre-nos_layout__descricao-box_title {
  color: #8F5745;
  font-size: 2.3rem;
  font-weight: 400; }

.sobre-nos_layout__descricao-box-img-container {
  transform: scale(1.1) translatex(1rem);
  margin-left: 1rem;
  width: 20rem; }

.sobre-nos_layout__descricao-box-img {
  width: 100%; }

.sobre-nos_layout__descricao-box_paragraph {
  margin: 1rem 0;
  font-weight: 100;
  font-size: 1.2rem;
  max-width: 27rem; }

.sobre-nos_layout__descricao-box_social-media-link {
  width: 2rem;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block; }
  .sobre-nos_layout__descricao-box_social-media-link:not(:last-child) {
    margin-right: .5rem; }

.sobre-nos_layout__descricao-box_social-media-img {
  width: 100%; }

.sobre-nos_layout__img-risquinho-sol {
  top: -5%;
  left: 48%;
  width: 32rem;
  transform: rotate(235deg);
  z-index: -2; }

.sobre-nos_layout__img-bg-creme {
  top: -31%;
  right: 15%;
  width: 45rem;
  height: 45rem; }

.services-layout {
  padding-top: 13rem;
  padding-left: 10rem;
  position: relative; }
  .services-layout:before {
    content: '';
    position: absolute;
    right: -6%;
    top: 76%;
    display: block;
    width: 35rem;
    height: 35rem;
    background-image: url(../../img/linhas-arco.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(-50deg); }
  .services-layout__images-container {
    z-index: -200;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%; }
  .services-layout__proxima-secao-btn {
    background-image: url("../../img/arrow-next.svg");
    background-size: 22%;
    background-repeat: no-repeat;
    background-position: center; }
  .services-layout__img-bg-creme {
    position: absolute;
    top: -26%;
    right: -2%;
    width: 45rem;
    height: 45rem;
    z-index: -1;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .services-layout__img-estatua-masculina {
    position: absolute;
    top: -23%;
    left: 59%;
    width: 38rem; }
  .services-layout__img-risquinho-sol {
    position: absolute;
    top: -5%;
    left: 57%;
    width: 25rem;
    transform: rotate(-143deg); }
  .services-layout__header-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%; }
  .services-layout__header-paragraph {
    width: 37%;
    min-width: 35rem; }
  .services-layout__services-container {
    padding-right: 19rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .services-layout__proxima-secao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    justify-content: space-between; }
  .services-layout__services-item {
    position: relative;
    display: inline-block;
    width: 29rem;
    shape-outside: url("../../img/clip-path-portal.svg");
    clip-path: url("../../img/clip-path-portal.svg");
    cursor: pointer; }
    .services-layout__services-item::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 106%;
      height: 106%;
      background-image: url("../../img/stroke-img-servico.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1; }
    .services-layout__services-item:not(:last-child) {
      margin-right: 5.5rem; }
  .services-layout__services-btn, .services-layout__services-btn:link, .services-layout__services-btn:visited {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.45rem;
    font-weight: 400; }
  .services-layout__img-servico {
    width: 100%; }
  .services-layout__contador-slider {
    font-size: 1.2rem;
    color: #8F5745; }
  .services-layout__linha-horizontal {
    width: .5px;
    background-color: rgba(199, 171, 162, 0.6);
    height: 16rem; }

.services-int-layout__select-service-container {
  margin-top: 8rem;
  padding-left: 10rem;
  display: flex;
  align-items: center;
  width: 61%; }

.services-int-layout__select-service-text {
  margin-right: 6rem; }

.services-int-layout__select-service-content {
  display: flex; }

.services-int-layout__nossos-trabalhos-container {
  margin-top: 3rem; }

.services-int-layout__nossos-trabalhos-content-row {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  display: flex; }

.services-int-layout__nossos-trabalhos-item-img {
  border-radius: 1rem;
  height: 10rem; }

.services-int-layout__servico-aberto-title {
  font-weight: 100;
  color: #8F5745;
  font-size: 1.7rem;
  position: relative; }
  .services-int-layout__servico-aberto-title::after {
    content: '';
    position: absolute;
    width: 75%;
    height: .5px;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    background-color: rgba(143, 87, 69, 0.3); }
  .services-int-layout__servico-aberto-title--tarefas-executamos::after {
    width: 68%; }

.services-int-layout__nossos-trabalhos-content-item:not(:last-of-type) {
  margin-right: 1rem; }

.services-int-layout__open-service-container {
  margin-top: 8rem;
  padding-left: 11rem;
  display: flex; }

.services-int-layout__proxima-secao-container {
  justify-content: center; }

.services-int-layout__linha-horizontal {
  margin: 3rem 0;
  height: 20rem; }

.services-int-layout__contador-slider {
  text-align: center; }

.services-int-layout__open-service-content {
  position: relative;
  width: 66%;
  transform: translatex(-14rem);
  padding: 5rem 8rem 2rem 21rem;
  box-shadow: 4px 0px 30px rgba(143, 87, 69, 0.2);
  border-radius: 0 3rem 3rem 0; }
  .services-int-layout__open-service-content::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 1rem 1rem 0 0;
    bottom: 0;
    right: 8%;
    width: 71%;
    height: .3rem;
    background-color: #F75A25; }

.services-int-layout__tarefas-executamos-container {
  margin-top: 1rem; }

.services-int-layout__tarefas-executamos_lista-item {
  color: #8F5745;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 100;
  margin: 1.1rem 2rem 0 0; }
  .services-int-layout__tarefas-executamos_lista-item::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: .4rem;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translatey(-0.2rem);
    background-image: url("../../img/servico-interno/after-lista-tarefas.svg"); }

.services-int-layout__open-service-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 4rem; }

.services-int-layout__open-service-description {
  max-width: 32rem;
  display: inline-block; }

.services-int-layout__open-service-title {
  color: #F75A25;
  font-size: 2.8rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  line-height: 1.1; }
  .services-int-layout__open-service-title::before {
    content: '';
    display: inline-block;
    height: 5.8rem;
    width: 5.8rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 1.4rem; }
  .services-int-layout__open-service-title--branding::before {
    background-image: url("../../img/branding-service-after-img.svg"); }

.services-int-layout__open-service-item {
  width: 33rem;
  z-index: 200; }
  .services-int-layout__open-service-item > .portfolio-layout__services-item {
    width: 33rem; }

.services-int-layout__select-service-title {
  display: inline-block;
  position: relative;
  color: #8F5745;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 1.1;
  white-space: nowrap; }
  .services-int-layout__select-service-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2rem;
    margin-top: .6rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../img/arrow-servico.svg); }

.services-int-layout__services-btn, .services-int-layout__services-btn:link, .services-int-layout__services-btn:visited {
  font-size: 1.8rem !important;
  padding: 1.2rem 2.8rem 1.2rem 2.8rem; }

.services-int-layout__select-service-btn, .services-int-layout__select-service-btn:link, .services-int-layout__select-service-btn:active {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border-radius: 0 5rem 5rem 0;
  padding: .8rem 1.9rem 0.8rem .81rem;
  font-size: 1.3rem;
  box-shadow: 0px 9px #FFEEDB;
  background-color: #ffffff;
  color: #8F5745;
  box-shadow: none;
  opacity: .92;
  font-weight: 100; }

.services-int-layout__select-service-btn--active, .services-int-layout__select-service-btn--active:link, .services-int-layout__select-service-btn--active:active {
  color: #ffffff;
  background-color: #F75A25;
  opacity: 1;
  box-shadow: 0px 9px #FFEEDB;
  font-weight: 400; }

.services-int-layout__select-service-item {
  position: relative;
  width: 9rem;
  cursor: pointer; }
  .services-int-layout__select-service-item:not(:last-child) {
    margin-right: 2.8rem; }
  .services-int-layout__select-service-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 109%;
    height: 109%;
    background-image: url("../../img/stroke-img-servico.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; }

.services-int-layout__img-risquinho-sol-2 {
  position: absolute;
  bottom: -7%;
  right: -2%;
  width: 35rem; }

.services-int-layout__select-service-img-item {
  width: 100%;
  filter: opacity(0.4); }
  .services-int-layout__select-service-img-item--active {
    filter: none; }

.services-int-layout__img-estatua-masculina {
  left: 62%;
  width: 41rem; }

.services-int-layout__img-risquinho-sol {
  left: 60%;
  width: 28rem; }

.home-layout {
  position: relative;
  width: 95%;
  float: right;
  min-height: 100vh;
  overflow: hidden; }
  .home-layout__images-container {
    position: relative;
    float: right;
    width: 65%;
    min-height: 100vh;
    left: 2rem; }
  .home-layout__img-estatua {
    position: absolute;
    left: 4%;
    bottom: -7%;
    width: 73%;
    z-index: 50; }
  .home-layout__img-colunas {
    position: absolute;
    bottom: 0;
    left: -3%;
    z-index: 40;
    width: 45rem; }
  .home-layout__img-pi-quadrado {
    position: absolute;
    top: 54%;
    left: 80%;
    width: 4.2rem; }
  .home-layout__risquinhos-arco--comp {
    position: absolute;
    top: 63%;
    left: 38%;
    transform: rotate(140deg); }
  .home-layout__img-circulo {
    position: absolute;
    width: 35rem;
    height: 35rem;
    top: 20%;
    left: 14%;
    z-index: -1;
    background-color: #F75A25;
    border-radius: 30rem; }
    .home-layout__img-circulo::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 113%;
      height: 113%;
      border-radius: 30rem;
      border: 2px solid #F75A25; }
  .home-layout:after {
    content: '';
    display: block;
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    background-image: url("../../img/bg_tangerina_saturado-footer.png");
    background-size: cover;
    background-position: center;
    z-index: 900; }
  .home-layout:before {
    content: '';
    display: block;
    width: 70rem;
    height: 70rem;
    position: absolute;
    right: -10%;
    top: -38%;
    background-image: url("../../img/bg-creme.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .home-layout__ciruclo-bg-creme {
    width: 30rem;
    height: 30rem;
    position: absolute;
    right: -4%;
    bottom: -14rem;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center; }
  .home-layout__risquinhos-arco {
    position: absolute;
    top: 80%;
    left: -6%;
    z-index: -1;
    width: 41rem; }
  .home-layout__title-container {
    position: absolute;
    top: 22%;
    left: 7.5%; }
  .home-layout__content {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh; }
  .home-layout__title {
    color: #8F5745;
    font-weight: 100;
    font-size: 5.3rem;
    line-height: 1; }
  .home-layout__title-emphasis {
    color: #F75A25;
    font-weight: 700;
    font-size: 5.8rem; }
  .home-layout__paragraph {
    width: 28rem; }
  .home-layout__btn-primary:link, .home-layout__btn-primary:visited {
    font-weight: 400;
    padding-bottom: 1.5rem;
    margin-left: -1rem; }
  .home-layout__btn-primary::before {
    content: '';
    vertical-align: sub;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("../../img/icon-portfolio-home.svg");
    margin-right: 1rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; }

.portfolio-layout {
  padding-top: 13rem;
  padding-left: 10rem;
  position: relative; }
  .portfolio-layout:before {
    content: '';
    position: absolute;
    right: 10%;
    top: 78%;
    display: block;
    width: 35rem;
    height: 35rem;
    background-image: url(../../img/linhas-arco.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(-50deg); }
  .portfolio-layout__miolo-container {
    margin-top: 9rem;
    margin-left: 3rem;
    display: flex; }
  .portfolio-layout__job-item {
    position: relative;
    display: inline-block;
    width: 42rem; }
    .portfolio-layout__job-item:not(:last-child) {
      margin-right: 14rem; }
  .portfolio-layout__job-item_comp {
    position: relative;
    width: 100%; }
    .portfolio-layout__job-item_comp img {
      position: absolute;
      z-index: 300; }
  .portfolio-layout__job-item_comp-fundo {
    position: relative;
    width: 100%; }
  .portfolio-layout__job-item_comp-img {
    position: absolute;
    top: -12%;
    left: -5%;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px rgba(143, 87, 69, 0.2);
    width: 46%;
    z-index: 200; }
  .portfolio-layout__job-item_comp-img--site {
    position: absolute;
    width: 45%;
    z-index: 300;
    top: 55%;
    left: 69%;
    transform: translate(-50%, -50%); }
  .portfolio-layout__job-item_comp-img--post2 {
    position: absolute;
    width: 46%;
    z-index: 300;
    transform: translate(-50%, -50%);
    top: 93%;
    left: 18%;
    border-radius: 1.5rem; }
  .portfolio-layout__job-item-info-container {
    margin-top: 12rem;
    display: flex; }
  .portfolio-layout__job-item_comp-img-site-inloco-1 {
    width: 90%;
    border-radius: 2rem;
    top: 14%;
    left: 39%;
    box-shadow: 0px 0px 20px rgba(143, 87, 69, 0.2);
    transform: translate(-50%, -50%); }
  .portfolio-layout__job-item_comp-img-site-inloco-2 {
    width: 90%;
    border-radius: 2rem;
    top: 87%;
    left: 39%;
    box-shadow: 0px 0px 20px rgba(143, 87, 69, 0.2);
    transform: translate(-50%, -50%); }
  .portfolio-layout__job-item-info-cliente-dados {
    display: flex; }
  .portfolio-layout__job-item-btn-container {
    z-index: 400;
    position: absolute;
    top: 34%;
    left: 99%; }
  .portfolio-layout__job-item-cliente-logo {
    width: 7rem;
    box-shadow: -7px 7px #FFEEDB;
    height: auto;
    border-radius: 100%; }
  .portfolio-layout__job-item-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: 1.5rem;
    color: #8F5745; }
  .portfolio-layout__job-item-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem; }
  .portfolio-layout__job-item-ano {
    font-size: 1.3rem;
    font-weight: 100; }
  .portfolio-layout__job-item-categorias-container {
    max-width: 20rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .portfolio-layout__job-item-categorias-lista-item {
    color: #8F5745;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 100;
    margin: .8rem 1rem 0 0; }
    .portfolio-layout__job-item-categorias-lista-item::before {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .2rem;
      vertical-align: middle;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translatey(-0.2rem);
      background-image: url("../../img/servico-interno/after-lista-tarefas.svg"); }
  .portfolio-layout__job-item-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F75A25;
    padding-bottom: .4rem;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%); }
    .portfolio-layout__job-item-btn::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 107%;
      height: 107%;
      border-radius: 100%;
      z-index: -2;
      border: 1px solid #F75A25; }
    .portfolio-layout__job-item-btn::after {
      content: '';
      width: 100%;
      height: 1.2rem;
      opacity: 0.8;
      margin-top: .7rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../../img/portfolio/seta-branca.svg); }
  .portfolio-layout__job-item-btn::selection {
    background-color: unset; }
  .portfolio-layout__job-item-info-container--inloco-arquitetura .portfolio-layout__job-item-title-container {
    left: 90%; }
  .portfolio-layout__job-item_fundo-creme {
    position: relative;
    width: 35rem;
    height: 35rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../img/bg-creme.png);
    box-shadow: 0px 0px 23px 5px rgba(247, 90, 37, 0.25);
    border-radius: 100%; }
    .portfolio-layout__job-item_fundo-creme::after {
      content: '';
      position: absolute;
      top: 3%;
      left: -3%;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      z-index: -2;
      border: 1px solid #F75A25; }
  .portfolio-layout__next-page-container {
    margin-left: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    transform: translatey(6rem); }
  .portfolio-layout__next-page-btn, .portfolio-layout__next-page-btn:visited, .portfolio-layout__next-page-btn:link {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-image: url("../../img/arrow-next.svg");
    background-size: 22%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 8px 8px #FFEEDB; }
  .portfolio-layout__next-page-title-link {
    color: #8F5745;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center; }
  .portfolio-layout__next-page-linha {
    width: .5px;
    margin: 3rem 0;
    background-color: rgba(199, 171, 162, 0.6);
    height: 6rem; }
  .portfolio-layout__images-container {
    z-index: -1; }
  .portfolio-layout__img-estatua-masculina {
    position: absolute;
    top: -23%;
    left: 59%;
    width: 38rem; }
  .portfolio-layout__img-homem-canto {
    position: absolute;
    width: 35rem;
    left: 80%;
    top: 64%; }
  .portfolio-layout__img-risquinho-sol {
    position: absolute;
    top: -5%;
    left: 57%;
    width: 25rem;
    transform: rotate(-143deg); }
  .portfolio-layout__img-bg-creme {
    position: absolute;
    top: -26%;
    right: -2%;
    width: 45rem;
    height: 45rem;
    z-index: -1;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .portfolio-layout__img-bg-creme-2 {
    position: absolute;
    bottom: -5%;
    right: -2%;
    width: 25rem;
    height: 25rem;
    z-index: -1;
    background-image: url(../../img/bg-creme.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
