.menu-aberto{
    position: fixed;
    top: 0;
    left: 0;
    width: 78vw;
    height: 100vh;
    background-color: $white;
    z-index: 3000;

        &--disabled{
            display: none;
        }

        @include media('<=large-notebook'){
            width: 88vw;
        }

        @include media('<=xl-phone'){
            width: 100vw;
            background-color: $primary;
        }

        &::after{
            content: '';
            position: fixed;
            z-index: 2900;
            background-color: rgba(#000 , .93);
            width: 22vw;
            height: 100vh;
            top: 0;
            right: 0;

                @include media('<=large-notebook'){
                    width: 12vw;
                }

                @include media('<=xl-phone'){
                    content: unset;
                }
        }

        &__content-container{
            position: relative;
            height: 100vh;

                &::after{
                    @include media('<=xl-phone'){
                        content: '';
                        display: inline-block;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100vh;
                        width: 14rem;
                        background-image: url(../../img/BG_CREME-vertical.jpg);
                        z-index: -1;
                        border-radius: 0 7rem 0 0;
                    }

                    @include media('<=m-phone'){
                        width: 13rem;
                        height: 25vh;
                        border-radius: 0 7rem 12rem 0;
                    }
                }
        }

        // HEADER

        &__header-img{
            margin-right: 7rem;
            width: 26rem;

                @include media('<=xl-phone'){
                    margin-right: 0;
                    width: 6rem;
                    height: 9rem;
                    object-fit: cover;
                    object-position: left;
                }
        }

        &__header-img-container{
            display: flex;
            align-items: center;

                &::after{
                    @include media('<=xl-phone'){
                        content: '';
                        display: inline-block;
                        width: 36vw;
                        height: 1px;
                        left: 271%;
                        top: 50%;
                        z-index: 4000;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        background-color: $white;
                    }
                }
        }

        &__content-header-container{
            position: absolute;
            top: 11rem;
            left: 38rem;

                @include media('<=xl-phone'){
                    top: 5rem;
                    left: 3.4rem;
                }
        }

        & &__header-btn-zap{
            &,
            &:visited,
            &:link,
            &:active{
                padding: 1.1rem 2.5rem;
                border: 1px solid rgba($primary, .3);
                font-size: 1.6rem;
                box-shadow: 5px 6px #ffeedb;
                font-weight: 400;

                    @include media('<=xl-phone'){
                        display: none;
                    }
            }
        }

        & &__header-btn-zap{

            &::before{
                @include settings-bg;
                background-size: 97%;
                background-image: url(../../img/icone-whatsapp.svg);
                width: 1.9rem;
                height: 1.9rem;
                vertical-align: text-top;
                margin-right: 0.8rem;
                image-rendering: -webkit-optimize-contrast;
            }
        }

        // BUTTON CONTAINER

        &__btn-close-container{
            position: absolute;
            right: -4%;
            z-index: 4000;
            top: 50%;
            font-size: 0;
            border-radius: 1rem;
            transform: translate(-50%, -50%);
            background-color: $primary;

                @include media('<=xl-phone'){
                    top: 9rem;
                    right: 6%;
                }
        }

        &__btn-close{
            display: inline-block;
            position: relative;
            width: 5.4rem;
            height: 4.5rem;
            border-radius: 1rem;
            box-shadow: 8px 8px $primary-light;
            background-size:50%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../../img/_logos/arrow-branca-botao.svg);

                @include media('<=xl-phone'){
                    background-color: $white;
                    box-shadow: 8px 8px $primary;
                    background-image: url(../../img/_logos/icone-close-menu.svg);
                    background-size: 35%;
                    width: 5rem;
                    height: 4.4rem;
                }

            &::after{
                    @include media('<=xl-phone'){
                        @include settings-bg;
                        width: 22rem;
                        height: 22rem;
                        z-index: -2;
                        position: absolute;
                        left: 68%;
                        top: 19%;
                        transform: translate(-50%, -50%);
                        background-image: url(../../img/fundo-bg-laranja-menu/bg_tangerina_saturado.png);

                    }
            }
        }

        // MAIN CONTENT NAV

        &__content-main-container{
            position: absolute;
            top: 40%;
            left: 38rem;
            display: flex;

                @include media('<=xl-phone'){
                    top: 24rem;
                    left: 52%;
                }

                @include media('<=m-phone'){
                    top: 24rem;
                    left: 48%;
                    z-index: 3000;
                }

                @media screen and (max-height:800px) {
                    top: 20rem;
                }
        }

        &__nav-container{
            width: 15rem;
        }

        &__lista-nav{
            display: flex;
            flex-direction: column;
        }

        &__lista-nav-item{
            &:not(:last-child){
                margin-bottom: 2.9rem;
            }
        }

        &__lista-nav-link{
            display: inline-block;
            color: rgba($primary-dark, .8);
            font-size: 2.8rem;
            text-decoration: none;
            font-weight: 400;

                @include media('<=xl-phone'){
                    color: $white;
                    font-weight: 100;
                    
                }

            &--active{
                position: relative;
                background-color: $primary;
                color: $white;
                border-radius: 1rem;
                font-weight: 700;
                padding: 1rem 2rem;

                    @include media('<=xl-phone'){
                        padding: 0;
                        background-color: unset;
                        margin-left: -2rem;
                        font-size: 3rem;
                    }

                    &::before{
                        content: '';
                        width: 1rem;
                        height: 1rem;
                        background-color: $white;
                        display: inline-block;
                        border-radius: 50%;
                        transform: translateY(-.5rem);
                        margin-right: 1rem;

                            @include media('<=xl-phone'){
                                width: 0.8rem;
                                height: 0.8rem;
                            }
                    }

                    &::after{
                        @include media('<=xl-phone'){
                            content: '';
                            display: inline-block;
                            width: 82%;
                            height: 1px;
                            position: absolute;
                            bottom: -.5rem;
                            background-color: $white;
                            left: 19%;
                        }
                    }
            }
        }

        &__ultimos-posts-container{
            margin-left: 20rem;
            position: relative;

                @include media('<=xl-phone'){
                    display: none;
                }

                &::before{
                    content: '';
                    position: absolute;
                    display: inline-block;
                    height: 45rem;
                    width: 1px;
                    transform: translate(-50%, -50%);
                    left: -15%;
                    top: 50%;
                    background-color: rgba($primary-dark, .25);
                }


        }

        &__post-portfolio-container{
            margin-bottom: 2rem;
        }

        &__post-title{
            font-size: 1.7rem;
            margin-bottom: 1.5rem;
        }


        & &__item-portfolio{
            display: flex;
            flex-direction: row;
            width: 63rem;

            .projetos-lista__item-text-container{
                width: 52rem;
                margin-left: 3rem;
            }

            .projetos-lista__item-img-container{
                width: 22rem;
            }

            .projetos-lista__item-btn-link{
                font-weight: 600;
            }
        }

        & &__item-artigo{

            width: 100%;

            .card-artigo__img-container{
                width: 20rem;
            }

            .card-artigo__text-container{
                width: 16rem;
                margin-left: 1.5rem;
            }
        }


        // IMAGES CONTAINER MENU


        &__img-estatua-homem-canto{
            position: absolute;
            right: -1%;
            top: -14rem;
            width: 36rem;
            transform: rotate(15deg);
            image-rendering: -webkit-optimize-contrast;

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__img-colunas{
            position: absolute;
            left: -22%;
            bottom: -3%;
            width: 60rem;
            z-index: 1;
            image-rendering: -webkit-optimize-contrast;

                @include media('<=xl-phone'){
                    left: -28rem;
                    bottom: 2%;
                    width: 50rem;
                }

                @include media('<=m-phone'){
                    left: -37rem;
                    bottom: 2%;
                    width: 55rem;
                    opacity: .3;
                    z-index: -1;
                }

                @media screen and (max-height:800px) {
                    left: -31rem;
                    bottom: -8%;
                    width: 49rem;
                }
        }

        &__arco-risquinhos{
            position: absolute;
            right: 10%;
            top: -3rem;
            width: 26rem;
            transform: rotate(216deg);
            z-index: -1;

                @include media('<=xl-phone'){
                    position: absolute;
                    top: unset;
                    right: 5%;
                    bottom: -1.3rem;
                    width: 35rem;
                    transform: rotate(46deg);
                    z-index: -1;
                    filter: brightness(9.5);
                }

                @include media('<=m-phone'){
                    display: none;
                }

                @media screen and (max-height:800px) {
                    right: 23%;
                    bottom: -2.3rem;
                    width: 27rem;
                }
        }

        &__arco-risquinhos2{
            position: absolute;
            left: 1%;
            top: 15rem;
            width: 29rem;
            transform: rotate(33deg);
            z-index: -1;

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__bg-circulo-creme{
            position: absolute;
            width: 45rem;
            top: -24rem;
            left: -19rem;
            z-index: -1;
                @include media('<=xl-phone'){
                    display: none;
                }
        }


        // FOOTER CONTAINER 

        &__footer-container{
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: $primary;
            padding: 1.5rem 4rem;

                @include media('<=xl-phone'){
                    background-color: $white;
                    color: $primary-dark;
                    justify-content: space-between;
                    z-index: 30;
                }
        }

        &__social-icons-container{
            display: flex;
        }

        &__social-icons-link-container{
            display: inline-block;
            width: 2.6rem;
            height: 2.6rem;
            font-size: 0;
            background-position: center;
            background-size: 90%;
            background-repeat: no-repeat;

                @include media('<=xl-phone'){
                    width: 3rem;
                    height: 3rem;
                }

                &:not(:last-child){
                    margin-right: .7rem;

                        @include media('<=xl-phone'){
                            margin-right: 1.3rem;
                        }
                }
            
            
                &--instagram{
                    background-image: url(../../img/_logos/instagram-white.svg);

                        @include media('<=xl-phone'){
                            background-image: url(../../img/_logos/instagram-marrom.svg);
                        }
                }

                &--linkedin{
                    background-image: url(../../img/_logos/linkedin-white.svg);

                        @include media('<=xl-phone'){
                            background-image: url(../../img/_logos/linkedin-marrom.svg);
                        }
                }
        }

        &__linha-separacao-footer{
            width: 35rem;
            margin: 0 4rem;
            height: 1px;
            background-color: rgba($white, .5);

                @include media('<=large-notebook'){
                    width: 26rem;
                }

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__footer-contato-container{
            @include media('<=xl-phone'){
                display: none;
            }
        }

        &__footer-contato-lista-item{
            font-size: 1.5rem;

                &::before{
                    @include settings-bg;
                    height: 2rem;
                    width: 2rem;
                    vertical-align: text-top;
                    margin-right: .6rem;
                }

                &:not(:last-child){
                    margin-right: 2rem;
                }

                &--email{
                    &::before{
                        background-image: url(../../img/_logos/icon-email-white.svg);

                    }
                }

                &--telefone{
                    &::before{
                        background-image: url(../../img/_logos/icon-telefone-white.svg);
                    }
                }
        }

        &__footer-contato-lista-item-link{
            color: $white;
            text-decoration: none;
        }
        
}