.blog-aside{
    position: relative;
    top: 0;
    width: 28rem;
    align-self: flex-start;
    // top: 33%;
    // left: 66%;

        @include media('<=large-notebook'){
            width: 15rem;
        }

        @include media('<=xl-tablet', '>=xl-phone'){
            display: none;
        }

        @include media('<=xl-phone'){
            width: 100%;
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        &__lista-content{
            margin-bottom: 3rem;
            position: relative;
            width: fit-content;
            background-color: $white;
            box-shadow: 11px 11px $primary-light;
            padding: 1.5rem 2.8rem;
            border-radius: 2rem;
            border:.5px solid rgba($primary, .5);

                @include media('<=large-notebook'){
                    padding: 2rem 2.1rem 1.9rem 2.5rem;
                }

                @include media('<=xl-phone'){
                    width: 100%;
                }
                                

                &::after{
                    content: 'Compartilhe';
                    display: inline-block;
                    position: absolute;
                    color: $primary-dark;
                    background-color: $white;
                    top: 0;
                    left: 25%;
                    padding: 0 .71rem;
                    font-size: 1.3rem;
                    font-weight: 100;
                    letter-spacing: .5px;
                    transform: translate(-50%, -50%);

                        @include media('<=large-notebook'){
                            left: 50%;
                        }

                        @include media('<=xl-phone'){
                            font-size: 1.5rem;
                            left: 50%;
                        }
                }
        }

        &__lista-ul{
            @include media('<=large-notebook'){
                width: 9rem;
                display: block;
                margin: 0 auto;
            }

            @include media('<=xl-phone'){
                width: 100%;
                text-align: center;
            }
        }

        &__lista-item{

            &:not(:last-child){
                margin-right: 1rem;

                    @include media('<=xl-phone'){
                        margin-right: 1.4rem;         
                    }
            }   

            &--whatsapp{
                @include media('<=large-notebook'){
                    margin-bottom: .51rem;
                }

                @include media('<=xl-phone'){
                    margin-bottom: 0;
                }
            }

            &--facebook{
                @include media('<=large-notebook'){
                    margin-bottom: .51rem;
                }

                @include media('<=xl-phone'){
                    margin-bottom: 0;
                }
            }


            &--instagram{
                @include media('>=xl-phone', '<=large-notebook'){
                    margin-right: 0 !important;
                    margin-bottom: .51rem;
                }

                @include media('<=xl-phone'){
                    margin-right: 1rem;
                    margin-bottom: 0;
                }
            }

            &--link{
                @include media('>=xl-phone', '<=large-notebook'){
                    margin-right: 0 !important;
                }

                @include media('<=xl-phone'){
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }

        &__lista-link{
            display: inline-block;
            font-size: 0;
            width: 1.9rem;
            height: 1.9rem;
            // background-color: $primary;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;

                @include media('<=xl-phone'){
                    width: 2.6rem;
                    height: 2.6rem;
                }

                @include media('<=m-phone'){
                    width: 2.2rem;
                    height: 2.2rem;
                }

                &--whatsapp{
                    background-image: url(../../img/blog/icones-aside/whatsapp.svg);
                }

                &--facebook{
                    background-image: url(../../img/blog/icones-aside/facebook.svg);
                }

                &--instagram{
                    background-image: url(../../img/blog/icones-aside/instagram.svg);
                }

                &--twitter{
                    background-image: url(../../img/blog/icones-aside/twitter.svg);
                }

                &--linkedin{
                    background-image: url(../../img/blog/icones-aside/linkedin.svg);
                }

                &--link{
                    background-image: url(../../img/blog/icones-aside/link.svg);
                }

        }

        &__btn-container{
            @include media('<=large-notebook'){
                width: 90%;
            }

            @include media('<=xl-phone'){
                width: 100%;
            }
        }

        & &__btn-navegacao{
            width: fit-content;
            padding: 1.2rem 2.3rem;
            font-size: 1.5rem;
            border-radius: 2rem;

                @include media('<=large-notebook'){
                    text-align: center;
                    line-height: 1.4;
                    padding: 1.5rem 2.3rem;
                }

                @include media('<=xl-phone'){
                    text-align: center;
                    width: 100%;
                    padding: 1.6rem 2.3rem;
                    font-size: 1.8rem;
                }

                &::after{
                    @include media('<=large-notebook'){
                        margin-left: 0;
                        margin-top: 0.4rem;
                        width: 5rem;
                        height: 1.4rem;
                    }

                    @include media('<=xl-phone'){
                        display: inline-block;
                        margin-left: 1.3rem;
                        vertical-align: middle;
                        margin-top: 0;
                    }
                }
        }
    

}