.btn{
    &,
    &:link,
    &:visited{
        font-family: inherit;
        border: none;
        display: inline-block;
        background-color: $primary;
        color: $white;
        padding: 1.1rem 2.7rem;
        text-decoration: none;
        font-size: 1.4rem;
        border-radius: 5rem;
        box-shadow: 9px 10px $primary-light;
        width: fit-content;
        cursor: pointer;

            @include media('<=xl-tablet'){
                font-size: 1.6rem;
                letter-spacing: .5px;
                padding: 1.6rem 3rem;
            }

            @include media('<=xl-phone'){
                font-size: 1.6rem;
                padding: 1.3rem 3rem;
            }

            @include media('<=m-phone'){
                font-size: 1.5rem;
                padding: 1.2rem 3rem;
            }
    }

}

.btn--dark{
    &,
    &:link,
    &:visited{
        background-color: $primary-dark;
    }
}

.btn--light{
    &,
    &:link,
    &:visited{
        background-color: $white;
        color: $primary-dark;
        font-size: 2.3rem;
        font-weight: 100;

            @include media('<=xl-phone'){
                border: 1px solid rgba($primary, .3);
            }
    }
}

.btn--light-default{
    &,
    &:link,
    &:visited{
        background-color: $white;
        color: $primary-dark;
        border: 1px solid rgba($primary, .5);
    }
}

.btn--dark-rounded{
    &,
    &:link,
    &:visited{
        background-color: $primary-dark;
        border-radius: 20rem;
        width: 5.5rem;
        height: 5.5rem;
        padding: 0;
        background-size: 22%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.btn--navegacao{
        display: inline-block;
        color: $primary-dark;
        text-decoration: none;
        font-size: 1.7rem;
        padding: 1.72rem 2.8rem;
        border: 1px solid rgba($primary, .5);
        letter-spacing: .5px;
        border-radius: 2.4rem;
        box-shadow: 11px 11px $primary-light;
        font-weight: 100;

        &::after{
            @include settings-bg;
            background-position: right;
            background-size: unset;
            width: 4rem;
            background-image: url(../../img/seta-laranja-pequena.svg);
            height: 2rem;
            vertical-align: middle;
            margin-left: 1.5rem;

                @include media('<=large-notebook'){
                    width: 3rem;
                }

                @include media('<=xl-phone'){

                }
        }
        
        &--back{
            &::before{
                content: '';
                display: inline-block;
                /* background-size: contain; */
                background-repeat: no-repeat;
                background-position: right;
                background-image: url(../../img/seta-laranja-pequena.svg);
                height: 2rem;
                width: 4rem;
                vertical-align: middle;
                margin-right: 1.5rem;
                transform: rotate(180deg);

                    @include media('<=large-notebook'){
                        width: 3rem;
                    }
            }

            &::after{
                display: none;
            }

        }

        &--laranja{
            &::after{
                filter: saturate(0) brightness(2);
                background-position: right;
                background-size: unset;
                width: 4rem;

                    @include media('<=large-notebook'){
                        width: 3rem;
                    }
            }
        }
    }

    .btn--img{
        &,
        &:link,
        &:active,
        &:visited{
            display: inline-block;
            width: 100%;
        }
    }

    .btn--inline{
        &,
        &:link,
        &:active,
        &:visited{
            text-decoration: none;
            color: $primary;
            display: inline-block;
            width: 100%;
            font-size: 1.6rem;

                &::after{
                    content: '';
                    display: inline-block;
                    /* background-size: contain; */
                    background-repeat: no-repeat;
                    background-position: right;
                    background-image: url(../../img/seta-laranja-pequena.svg);
                    height: 2rem;
                    width: 4rem;
                    vertical-align: middle;
                    margin-left: 1rem;

                        @include media('<=large-notebook'){
                            width: 3rem;
                        }
                }
        }

    }