.card-destaque{

    &__item{
        width: 33rem;
        position: relative;
        background-color: $white;
        border-radius: 2rem;


            @include media('<=large-notebook'){
                width: 27rem;
            }


        &:not(:last-child){
            margin-right: 2rem;
        }
    }

    &__destaque-img{
        display: block;
        border-radius: 2rem;
        width: 100%;
    }

    &__destaques-img-container{
        position: relative;
        width: 100%;
    }

    &__destaques-dados-container{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem 1.4rem 0 2.7rem;
        border-radius: 0 1rem 0 0;
        color: $primary-dark;
        font-size: 1.2rem;
        background-color: $white;
    }

    &__item-dado{

        &:not(:last-child){
            margin-right: .5rem;
        }

        &::before{
            @include settings-bg;
            width: 1.1rem;
            height: 1.1rem;
            vertical-align: text-bottom;
            margin-right: .51rem;
            transform: translatey(-.2rem);
        }

        &--tempo{
            &::before{
                background-image: url(../../img/blog/clock.svg);
            }
        }

        &--data{
            &::before{
                background-image: url(../../img/blog/calendar.svg);
            }
        }
    }

    &__destaques-text-container{
        margin-top: 1.5rem;
        padding: 0 2.7rem 2.7rem 2.7rem;
    }

    &__destaques-title-link{
        color: $primary;
        letter-spacing: .2px;
        display: inline-block;
        font-size: 1.69rem;
        margin-bottom: .5rem;
        text-decoration: none;
        font-weight: 400;
    }
}