.card-artigo{
    display: flex;
    align-items: center;
    width: 25%;
    min-width: 34rem;
    height: 9rem;

        @include media('<=notebook'){
            min-width: 28rem;
        }

        @include media('<=xl-tablet', '>=xl-phone'){
            min-width: 47rem;
        }

        @include media('<=l-tablet', '>=xl-phone'){
            width: 46%;
            flex-direction: column;
            height: 20rem;
            min-width: unset;
        }

        @include media('<=xl-phone'){
            flex-direction: column;
            height: 19rem;
            width: 100%;
        }

        &:not(:last-of-type){
            @include media('<=xl-tablet', '>=xl-phone'){
                margin-bottom: 3rem;
            }

            @include media('<=xl-phone'){
                margin-bottom: 2rem;
                
            }
        }



        &__link{
            display: inline-block;
            text-decoration: none;
            color: $primary-dark;
            font-size: 1.6rem;
            margin-bottom: 1rem;
            line-height: 1.2;

                @include media('<=notebook'){
                    font-size: 1.5rem;
                }

                @include media('<=xl-tablet', '>=xl-phone'){
                    font-size: 1.9rem;
                    margin-bottom: 1.3rem;
                }

                @include media('<=l-tablet', '>=xl-phone'){
                    font-size: 2.2rem;
                }

                @include media('<=m-tablet', '>=xl-phone'){
                    font-size: 2rem;
                }

                @include media('<=xl-phone'){
                    font-size: 2rem;
                    margin-bottom: 1.2rem;
                }
        }

        &__img{
            object-fit: cover;
            object-position: left;
            width: 100%;
            height: 9rem;

                @include media('<=l-tablet', '>=xl-phone'){
                    height: 13rem;
                }
        }

        &__img-container{
            width: 25rem;
            margin-right: 2rem;
            overflow: hidden;
            border-radius: 1rem;
            height: 9rem;

                @include media('<=l-tablet', '>=xl-phone'){
                    width: 100%;
                    height: 13rem;
                }

                @include media('<=xl-phone'){
                    width: 100%;
                    border-radius: 2rem;
                }
        }

        &__text-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem 0;
        }
        

        &__destaques-dados-container{
            position: relative;
            bottom: 0;
            left: 0;
            border-radius: 0 1rem 0 0;
            color: $primary-dark;
            font-size: 1.2rem;
            background-color: $white;

                @include media('<=xl-phone'){
                    font-size: 1.3rem;
                }
        }

        &__item-dado{

            @include media('<=xl-tablet', '>=xl-phone'){
                font-size: 1.5rem;
            }

            &:not(:last-child){
                margin-right: .5rem;
            }

            &::before{
                @include settings-bg;
                width: 1.1rem;
                height: 1.1rem;
                vertical-align: text-bottom;
                margin-right: .51rem;
                transform: translatey(-.2rem);

                    @include media('<=xl-tablet', '>=xl-phone'){
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    @include media('<=xl-phone'){
                        width: 1.8rem;
                        height: 1.8rem;
                        margin-right: .61rem;
                        transform: translatey(.1rem);
                    }
            }

            &--tempo{
                &::before{
                    background-image: url(../../img/blog/clock.svg);
                }
            }

            &--data{
                &::before{
                    background-image: url(../../img/blog/calendar.svg);
                }
            }
        }
}