.figure-post{
    display: flex;
    align-items: flex-start;
    margin: 4rem 0;

    &__img-figure{
        margin: 0 !important;
        border-radius: 2rem;
        height: 17rem;
        width: 22rem !important;
        object-fit: cover;
    }

    &__figcaption{
        display: inline-block;
        margin-left: 4rem;
    }

    &__titulo{
        position: relative;
        display: inline-block;
        font-size: 2.6rem;
        font-weight: 100;
        margin-bottom: 1.6rem;

            &::after{
                content: '';
                height: 1px;
                display: block;
                margin-top: -.4rem;
                width: 100%;
                background-color: $primary-dark;
            }
    }

    &__figcaption-text{
        display: block;
    }
}