.form-input{
    display: inline-block;
    font-family: inherit;
    color: $primary-dark;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.8;
    padding: 0 2rem;
    outline: none;
    border: none;
    border-bottom: 2.5px solid $primary-dark;
    width: fit-content;
    transition: color .4s;

        @include media('<=large-notebook'){
            font-size: 2rem;
            border-bottom: 1px solid $primary-dark;
        }

    &::placeholder{
        color: rgba($primary-dark, .4);
        font-weight: 100;
        font-size: 2.5rem;

            @include media('<=large-notebook'){
                font-size: 2rem;
            }

            @include media('<=xl-tablet', '>=xl-phone'){
                font-size: 2.2rem;
            }
    }



    &:focus{
        // border-color: $primary;
        background-image: linear-gradient(to top, rgba($primary-light, .4) 0%, rgba($primary-light, .4) 40%, #ffffff 40%);
        border-radius: 2rem 2rem 0 0;
        border-color: $primary;
    }
    
}

.select-form-input{
    appearance: none;
    color: $primary-dark;
    font-size: 2.3rem;
    width: 34rem;
    position: relative;
    background-color: $white;
    font-family: inherit;
    font-weight: 100;
    line-height: 1.8;
    text-align: center;
    border: none;
    padding: 0 2rem;
    border-bottom:2.5px solid $primary-dark;

        @include media('<=large-notebook'){
            font-size: 2rem;
            border-bottom: 1px solid $primary-dark;
        }

        &::before{
            content: '';
            display: inline-block;
            top: 10%;
            left: 10%;
            width: 4rem;
            height: 4rem;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../../img/portfolio/seta.svg);
        }

        &:focus{
            outline: none;
            background-image: linear-gradient(to top, rgba($primary-light, .4) 0%, rgba($primary-light, .4) 40%, #ffffff 40%);
            border-radius: 2rem 2rem 0 0;
        }
}