.menu-lateral{
    background-color: $white;
    z-index: 1000;
    width: 5%;
    min-width: 7.5rem;
    position: fixed;
    height: 100vh;
    box-shadow: 7px 2px 70px rgba($primary-dark, .2);

        @include media('<=xl-phone'){
            height: unset;
            background-color: unset;
            width: 100vw;
            box-shadow: unset;
            margin-top: 2rem;
        }  

        &__container{
            position: relative;
            display: flex;
            height: 100%;
            padding: 2rem 0rem 0rem 0rem;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

                @include media('<=xl-phone'){
                    height: unset;
                    flex-direction: row;
                    width: 80%;
                    margin: 0 auto;
                    
                }

                &::after{
                    content: '';
                    width: .5px;
                    height: 26vh;
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    transform: translatex(-50%);
                    background-color:rgba($primary, .5);

                        @include media('<=large-notebook'){
                            height: 23vh;
                            top: 16.5%;
                        }

                        @include media('<=xl-phone'){
                            display: none;
                        } 
                }

                &::before{
                    content: '';
                    width: .5px;
                    height: 26vh; 
                    position: absolute;
                    top: 54%;
                    left: 50%;
                    transform: translatex(-50%);
                    background-color:rgba($primary, .5);

                        @include media('<=large-notebook'){
                            height: 23vh;
                        }

                        @include media('<=xl-phone'){
                            transform: translate(-50%, -50%);
                            height: 1px;
                            width: 50%;
                            background-color: $primary;
                        } 
                }

        }

        &__botao-container{
            @include media('<=large-notebook'){
                transform: translatex(-4px);
            }

            
        }

        &__logo{
            width: 5rem;

                @include media('<=large-notebook'){
                    width: 4.4rem;
                }

                @include media('<=xl-phone'){
                    width: 5.8rem;
                }  
        }

        &__toggle{
            display: block;
            background-color: $primary;
            width: 5rem;
            height: 4.5rem;
            border-radius: 20%;
            background-image: url('../../img/menu-risquinhos.svg');
            background-size:50%;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 8px 8px $primary-light;

                @include media('<=large-notebook'){
                    width: 4.5rem;
                    height: 4rem
                }

                @include media('<=xl-phone'){
                    width: 5rem;
                    height: 4.5rem;
                    box-shadow: 8px 8px $white;
                }  
        }

        &__social-media-container{
            display: inline-block;
            width: 100%;
            margin-top: 1.8rem;
            padding: 2rem 0;
            background-color: $primary;

                img{
                    width: 100%;
                }

        }
        
        &__icon-social-media{
            display: inline-block;
            &:not(:last-child){
                margin-right: .71rem;
            }

            @include media('<=large-notebook'){
                width: 1.9rem;
            }
        }

        &__frase-container{
            text-align: center;
            width: 100%;

                @include media('<=xl-phone'){
                    display: none;
                } 
        }

        &__frase{
            font-style: italic;
            font-size: 1.3rem;
            line-height: 1.25;
            font-family: 'playfair';
            text-align: center;
            display: block;
            color: $primary-dark;
        }


}