.projetos-lista{
        width: 70%;
        min-width: 100rem;
        position: relative;

            @include media('<=xl-phone'){
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                min-width: unset;
            }

    
    &__item{
        width: 28rem;
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        position: relative;

            @include media('<=large-notebook'){
                width: 21rem;
            }

            @include media('<=xl-phone'){
                width: 100%;
            }

            &:not(:last-child){
                margin-right: 3rem;

                    @include media('<=large-notebook'){
                        margin-right: 6rem;
                    }

                    @include media('<=xl-phone'){
                        margin-right: 0;
                        margin-bottom: 3rem;
                    }
            }

    }

    &__content-container{
        @include media('<=xl-phone'){
            display: flex;
            flex-direction: column;
            margin-left: -3rem;
        }
    }

    &__item-text-container{
        display: flex;
        flex-direction: column;
    }

    &__item-title-link{
        color: $primary-dark;
        font-size: 2.1rem;
        font-weight: 700;
        text-decoration: none;
    }

    &__item-data-text{
        font-size: 1.2rem;
    }

    &__item-img{
        width: 100%;
        image-rendering: auto;
    }

    &__item-btn-link{
        display: inline-block;
        color: $primary;
        text-decoration: none;
        font-size: 1.5em;
        margin-top: 0.3rem;
        font-weight: 700;

            &::after{
                content: '';
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../../img/seta-laranja-pequena.svg);
                width: 5rem;
                height: 1.2rem;
                margin-left: 1rem;
                transform: translatey(.2rem);
            }
    }
}