.slider-posts{
    width: 100%;
    margin-top: 5rem;
    background-color: $primary-light;
    padding-top: 6rem;
    padding-bottom: 4rem;
    position: relative;

    &__item{
        display: inline-block;
        width: 32rem;
        background-color: $white;

    }

    &__content{
        margin: 0 auto;
        width: fit-content;
    }

    &__btn-container{
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: space-between;
        width: 80%;
        transform: translate(-50%, -50%);
    }

    & &__btn{
        &:link,
        &:visited,
        &:active{
            width: 4.7rem;
            height: 4.7rem;
        }
    }

    & &__btn--next{
        &:link,
        &:visited,
        &:active{
            background-image: url(../../img/arrow-next.svg);
            box-shadow: -7px 8px rgba($primary-dark, .2) ;
        }
    }

    & &__btn--back{
        &:link,
        &:visited,
        &:active{
            background-image: url(../../img/arrow-next.svg);
            transform: rotate(180deg);
            box-shadow: -7px -8px rgba($primary-dark, .2) ;

        }
    }

    &__contagem-container{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    &__contagem-lista{
        margin: 0 auto;
    }

    &__contagem-lista-item{
        position: relative;
        width: 1.15rem;
        height: 1.15rem;
        border-radius: 50%;
        border: .5px solid rgba($primary, .5);
        background-color: $white;

            &--active{
                &::after{
                    content: '';
                    @include align-middle;
                    top: 51%;
                    transform: translate(-56%, -56%);
                    width: 70%;
                    height: 70%;
                    background-color: $primary;
                    border-radius: 50%;
                }
            }

            &:not(:last-child){
                margin-right: .5rem;
            }
    }
}