<aside class="blog-aside">
    <div class="blog-aside__lista-content">
        <ul class="blog-aside__lista-ul">
            <li class="blog-aside__lista-item">
                <a href="#" class="blog-aside__lista-link blog-aside__lista-link--whatsapp">Whatsapp</a>
            </li>
            <li class="blog-aside__lista-item">
                <a href="#" class="blog-aside__lista-link blog-aside__lista-link--facebook">Facebook</a>
            </li>
            <li class="blog-aside__lista-item">
                <a href="#" class="blog-aside__lista-link blog-aside__lista-link--instagram">Instagram</a>
            </li>
            <li class="blog-aside__lista-item">
                <a href="#" class="blog-aside__lista-link blog-aside__lista-link--twitter">Twitter</a>
            </li>
            <li class="blog-aside__lista-item">
                <a href="#" class="blog-aside__lista-link blog-aside__lista-link--linkedin">Linkedin</a>
            </li>
            <li class="blog-aside__lista-item">
                <a href="#" class="blog-aside__lista-link blog-aside__lista-link--link">Link</a>
            </li>
        </ul>
    </div>

    <div class="blog-aside__btn-container">
        <a href="#" class="blog-aside__btn-navegacao btn--navegacao">Ir para <span class="boldinho">Portfólio</span></a>
    </div>
</aside>