*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size:70.5%;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

li{
    display: inline-block;
}

::selection{
    background-color: $primary-light;
}