body{
    font-family: 'Ambit', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    font-weight: inherit;
    letter-spacing: .5px;
}

.paragraph{
    color: $primary-darker;
    font-size: 1.28rem;
    line-height: 1.55;
    letter-spacing: .4px;
    font-weight: 400;

        @include media('<=large-notebook'){
            font-size: 1.2rem;
        }

        @include media('<=xl-tablet'){
            font-size: 1.4rem;
        }

        @include media('<=xl-phone'){
            font-size: 1.4rem;
        }
}

.paragraph-peq{
    color: $primary-darker;
    font-size: 1.1rem;
    line-height: 1.55;
    letter-spacing: .4px;
    font-weight: 400;

        @include media('<=xl-tablet', '>=xl-phone'){
            font-size: 1.3rem;
        }

        @include media('<=s-tablet', '>=xl-phone'){
            font-size: 1.5rem;
        }

        @include media('<=xl-phone'){
            font-size: 1.3rem;
        }
}

.bold{
    font-weight: 700;
}

.boldinho{
    font-weight: 400;
}

.bold-laranja{
    color: $primary;
    font-weight: 700;
}

.laranja{
    color: $primary;
}

.semibold{
    font-weight: 600;
}

.main-title-pagina{
    color: $primary-dark;
    font-size: 3.1rem;
    font-weight: 100;

    @include media('<=xl-phone'){
        font-size: 3.4rem;
    }
}

.helper_header-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%;
}

.helper_header-paragraph{
    width: 37%;
    min-width: 35rem;
}

.mini-titulo-mobile{
    color: $primary;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;

        @include media('>=xl-phone'){
            display: none;
        }
}