body{
    font-family: 'Ambit', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    font-weight: inherit;
    letter-spacing: .5px;
}

.paragraph{
    color: $primary-darker;
    font-size: 1.28rem;
    line-height: 1.55;
    letter-spacing: .4px;
    font-weight: 400;

        @include media('<=notebook'){
            font-size: 1.2rem;
        }
}

.paragraph-peq{
    color: $primary-darker;
    font-size: 1.1rem;
    line-height: 1.55;
    letter-spacing: .4px;
    font-weight: 400;
}

.bold{
    font-weight: 700;
}

.boldinho{
    font-weight: 400;
}

.bold-laranja{
    color: $primary;
    font-weight: 700;
}

.laranja{
    color: $primary;
}

.semibold{
    font-weight: 600;
}

.main-title-pagina{
    color: $primary-dark;
    font-size: 3.1rem;
    font-weight: 100;
}

.helper_header-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%;
}

.helper_header-paragraph{
    width: 37%;
    min-width: 35rem;
}