.blog-layout{
        // SECAO DE TEXTO NO COMECO 

        &::after{
            display: none;
        }

        @include media('<=xl-phone'){
            padding-bottom: 3rem;
        }

    &__title-container{
        margin-top: 15rem;
        margin-left: 12rem;
        display: flex;
        align-items: center;
        max-width: 50%;

            @include media('<=large-notebook'){
                max-width: 60%;
            }

            @include media('<=xl-phone'){
                max-width: unset;
                margin: 19rem auto 0 auto;
                width: 76%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
    }

    &__title{
        font-size: 3rem;
        color: $primary;
        min-width: 35rem;
        font-weight: 700;
        letter-spacing: .5px;

            @include media('<=large-notebook'){
                font-size: 2.5rem;
                min-width: 30rem;
            }

            @include media('<=xl-phone'){
                min-width: 31rem;
                margin-bottom: 3rem;
                font-size: 3.3rem;
                font-weight: 100;
                color: $primary-dark;
            }

            @include media('<=m-phone'){
                min-width: unset;
            }

    }

    &__paragraph{
        margin-left: 4rem;
            @include media('<=xl-phone'){
                margin-left: 0;
            }
    }

    // --------- SECAO DE DESTAQUES ----------

    &__destaques-blog-container{
        position: relative;
        margin-top: 6rem;
        margin-left: 11rem;
        margin-right: 16rem;
        background-color: $primary-light;
        width: fit-content;
        border-radius: 3rem;
        padding: 4rem 4rem 3rem 4rem;

            @include media('<=small-notebook'){
                margin-right: 11rem;
            }

            @include media('<=xl-phone'){
                max-width: unset;
                margin: 7rem auto 0 auto;
                width: 100%;
                border-radius: 0;
                padding: 4rem 3rem 3rem 3rem;
            }

            &::after{
                @include settings-bg;
                position: absolute;
                background-image: url(../../img/blog/ESTATUA-MULHER.png);
                width: 25rem;
                height: 41rem;
                right: 2%;
                top: -10%;
                transform: translate(-50%, -50%);
                z-index: -1;

                    @include media('<=large-notebook'){
                        width: 18rem;
                        height: 30rem;
                        right: -5%;
                    }

                    @include media('<=xl-phone'){
                        content: unset;
                    }
            }
    }

    &__destaques-blog-content{
        display: flex;
        width: fit-content;
        // justify-content: space-between;

            @include media('<=xl-phone'){
                flex-direction: column;
            }
    }

    &__destaques-title-container{
        position: absolute;
        background-color: $white;
        padding: 1rem 2rem;
        border-radius: 2rem;
        color: $primary-dark;
        top: 0;
        transform: translatey(-50%);
        left: 3.5%;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .5px;

            @include media('<=xl-phone'){
                left: 3rem;
                font-size: 1.3rem;
            }

    }


    &__destaques-item{
        width: 25%;
        position: relative;
        background-color: $white;
        border-radius: 2rem;

            @include media('<=xl-phone'){
                width: 100%;
            }

        &:not(:last-child){
            margin-bottom: 3rem;
        }
    }

    &__destaque-img{
        display: block;
        border-radius: 2rem;
        width: 100%;
    }



    &__destaques-img-container{
        position: relative;
        width: 100%;
    }

    &__destaques-dados-container{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem 1.4rem 0 2.7rem;
        border-radius: 0 1rem 0 0;
        color: $primary-dark;
        font-size: 1.2rem;
        background-color: $white;
    }

    &__item-dado{

        &:not(:last-child){
            margin-right: .9rem;
        }

        &::before{
            @include settings-bg;
            width: 1.1rem;
            height: 1.1rem;
            vertical-align: text-bottom;
            margin-right: .51rem;
            transform: translatey(-.2rem);

                @include media('<=xl-phone'){
                    transform: translatey(-0.1rem);
                    width: 1.4rem;
                    height: 1.4rem;
                }
        }

        &--tempo{
            &::before{
                background-image: url(../../img/blog/clock.svg);
            }
        }

        &--data{
            &::before{
                background-image: url(../../img/blog/calendar.svg);
            }
        }
    }

    &__destaques-text-container{
        margin-top: 1.7rem;
        padding: 0 2.7rem 2.7rem 2.7rem;

            @include media('<=xl-phone'){
                padding: 0 2.7rem 3.3rem 2.7rem;
            }
    }

    &__destaques-title-link{
        color: $primary;
        letter-spacing: .2px;
        display: inline-block;
        font-size: 1.69rem;
        margin-bottom: .5rem;
        text-decoration: none;
        font-weight: 600;

            @include media('<=xl-phone'){
                font-size: 2rem;
            }
    }

    //  ---------- SECAO DE ARTIGOS ------------ 

    &__artigos-geral-container{
        margin-left: 13rem;
        margin-top: 4rem;
        width: 82%;

            @include media('<=notebook'){
                width: 77%;
            }

            @include media('<=xl-phone'){
                margin: 3rem auto 0 auto;
                width: 77%;
                display: flex;
                flex-direction: column;
            }
    }

    &__artigos-geral-title-content{
        font-size: 1.5rem;
        color: $primary-dark;
        letter-spacing: .5px;
        margin-bottom: 4rem;
        font-weight: 400;

            @include media('<=notebook'){
                font-size: 1.5rem;
            }

            @include media('<=xl-phone'){
                font-size: 1.7rem;
                margin-bottom: 3rem;
            }
    }

    &__artigos-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }



    //-------------- SECAO FINAL LINKS DE NAVEGACAO

    &__botoes-navegacao-container{
        display: flex;
        position: relative;
        width: 83%;
        justify-content: center;
        margin-left: 13rem;
        margin-top: 6rem;
        margin-bottom: 10rem;

            @include media('<=xl-phone'){
                margin: 6rem auto 0 auto;
                width: 74%;
                min-width: 26rem;
                flex-direction: column;
            }

            @include media('<=m-phone'){
                width: 83%;
            }

            @include media('<=s-phone'){
                width: 91%;
            }

            .btn{
                font-size: 1.52rem;

                    @include media('<=xl-phone'){
                        font-size: 1.72rem;
                        padding: 1.6rem 5rem;
                        width: 100%;
                    }

                &:not(:last-child){
                    margin-right: 2rem;

                        @include media('<=xl-phone'){
                            margin-right: 0;
                            margin-bottom: 2rem;
                        }
                }
            }

            &::after{
                content: '';
                position: absolute;
                width: 50%;
                transform: translate(-50%, -50%);
                top: 54%;
                left: 50%;
                height: 1px;
                z-index: -1;
                background-color: rgba($primary, .4);

                    @include media('<=xl-phone'){
                        content: unset;
                    }
            }
    }

    &__botoes-navegacao-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & &__botao-prox-pagina{
        font-weight: 400;
    }


    // ------ CONTAINER IMAGENS--- 

    &__img-bg-creme{
        top: -38%;
        right: 9%;
        width: 45rem;
        height: 45rem;

            @include media('<=large-notebook'){
                width: 35rem;
                height: 35rem;
            }

            @include media('<=large-notebook'){
                top: -8%;
                right: -17%;
                width: 26rem;
                height: 26rem;
            }
    }

    &__img-risquinho-sol{
        z-index: -2;

            @include media('<=large-notebook'){
                display: none;
            }

    }


}