.contato-layout{

        @include media('<=m-tablet', '>=xl-phone'){
            padding-bottom: 19rem;
        }

        @include media('<=xl-phone'){
            padding-bottom: 3rem;
        }

        .mini-menu{
            @include media('<=m-tablet', '>=xl-phone'){
                top: 9.5rem;
                left: 14%;
            }
        }
    // TITULO NO COMECO E TEXTOS/CONTAINERS

    &__title-container{
        margin: 21rem auto 0 auto;
        width: 70%;
        display: flex;

            @include media('<=large-notebook'){
                margin-top: 17rem;
                margin-left: 11rem;
            }

            @include media('<=xl-tablet', '>=xl-phone'){
                margin-top: 21rem;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                flex-direction: column;
            }

            @include media('<=s-tablet', '>=xl-phone'){
                margin-top: 12rem;
                margin-left: 10rem;
            }

            @include media('<=xl-phone'){
                margin-top: 21rem;
                margin-left: 5rem;
                flex-direction: column;
                align-items: flex-start;
            }
    }

    &__title{
        font-size: 3.6rem;
        color: $primary;
        font-weight: 700;

            @include media('<=large-notebook'){
                font-size: 3.5rem;
            }

            @include media('<=xl-tablet', '>=xl-phone'){
                font-size: 3.9rem;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                margin-bottom: 1.5rem;
            }

            @include media('<=xl-phone'){
                font-size: 3.6rem;
                display: inline-block;
                width: 27rem;
                line-height: 1.1;
                margin-bottom: 2rem;
            }
    }

    &__paragraph{
        max-width: 40rem;
        margin-left: 4rem;

            @include media('<=m-tablet', '>=xl-phone'){
                margin-left: 0;
                max-width: unset;
                width: unset;
            }

            @include media('<=xl-phone'){
                margin-left: 0;
                max-width: 30rem;
                width: unset;
            }
    }


    // ------ FORMULARIO INICIO -------

    &__form-container{
        margin-top: 6rem;
        margin-left: 12rem;
        width: 80%;

            @include media('<=large-notebook'){
                margin-top: 5rem;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                display: none;
            }

            @include media('<=xl-phone'){
                display: none;
            }
    }

    &__form-text{
        color: $primary-dark;
        font-size: 3rem;
        font-weight: 100;
        line-height: 2;
        vertical-align: -webkit-baseline-middle;

            @include media('<=large-notebook'){
                font-size: 2.2rem;
            }

            @include media('<=xl-tablet', '>=xl-phone'){
                font-size: 2.7rem;
            }
    }

    &__btn-form{
        &,
        &:visited,
        &:link{
            font-size: 1.7rem;
            margin-left: 2.2rem;
            padding: 1.3rem 2.3rem;
            transform: translatey(.5rem);

                @include media('<=large-notebook'){
                    font-size: 1.5rem;
                    padding: 1.1rem 2.1rem;
                }

                @include media('<=xl-tablet', '>=xl-phone'){
                    font-size: 1.7rem;
                    padding: 1.1rem 2.4rem;
                }

        }
    }

    // ----------- FORMULARIO FIM ------------

    // --------- INICIO SHORTCUTS BOTOES DE CONTATO 

    &__shortcuts-contato-container{
        margin-left: 13rem;
        margin-top: 5rem;

            @include media('<=m-tablet', '>=xl-phone'){
                margin-left: 10rem;
                margin-top: 8rem;
                display: flex;
                flex-direction: column;
            }

            @include media('<=xl-phone'){
                display: flex;
                flex-direction: column;
                margin: 6rem auto 0 auto;
                width: 75%;
            }
    }

    &__shortcuts-contato-link{
        position: relative;
        font-size: 2rem;
        color: $primary-dark;
        text-decoration: none;
        font-weight: 100;

            @include media('<=large-notebook'){
                font-size: 1.7rem;
            }

            @include media('<=xl-tablet', '>=xl-phone'){
                font-size: 1.6vw;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                font-size: 2.5rem;
                display: inline-block;
            }

            @include media('<=xl-phone'){
                font-size: 1.85rem;
                white-space: nowrap;
            }

            &::before{
                content:'';
                display: inline-block;
                width: 4rem;
                height: 4rem;
                margin-right:2rem;
                vertical-align: middle;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                    @include media('<=large-notebook'){
                        width: 3rem;
                        height: 3rem;
                    }

                    @include media('<=notebook'){
                        width: 2.3rem;
                        height: 2.3rem;
                        margin-right: 1.1rem;
                    }

                    @include media('<=m-tablet', '>=xl-phone'){
                        width: 3.5rem;
                        height: 3.5rem;
                    }

                    @include media('<=xl-phone'){
                        width: 3.3rem;
                        height: 3.3rem;
                        margin-right: 2rem;
                    }
            }

            &--whatsapp{

                &::after{
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 70%;
                    height: 1px;
                    bottom: -27%;
                    right: 0;
                    background-color: $primary;

                        @include media('<=xl-tablet', '>=xl-phone'){
                            bottom: -29%;
                            right: 0;
                            left: 4rem;
                        }

                        @include media('<=m-tablet', '>=xl-phone'){
                            width: 24%;
                            right: unset;
                            left: 5rem;
                        }

                        @include media('<=xl-phone'){
                            right: unset;
                            left: 5rem;
                            width: 49%;
                            height: 1px;
                            bottom: -4%;
                        }
                }
                // border-bottom:1px solid $primary;

                    &::before{
                        background-image: url(../../img/portfolio/icone-zap.svg);
                    }


            }

            &--telefone{
                &::before{
                    background-image: url(../../img/portfolio/icone-telefone.svg);
                }
            }

            &--email{
                &::before{
                    background-image: url(../../img/portfolio/icone-email.svg);
                }
            }

            &:not(:last-child){
                margin-right: 4rem;

                    @include media('<=m-tablet', '>=xl-phone'){
                        margin-right: 0;
                        margin-bottom: 5rem;
                    }

                    @include media('<=xl-phone'){
                        margin-right: 0;
                        margin-bottom: 4rem;
                    }
            }
    }

    // COMECO NAV FINAL PAGINA 

    &__final-section-nav{

        @include media('<=large-notebook'){
            margin-top: 8rem;
        }

        @include media('<=notebook'){
            margin-top: 7rem;
        }

        @include media('<=xl-phone'){
            margin: 4rem auto 0 auto;
            width: 75%;
            min-width: 28rem;
        }

        .btn{
            font-size: 1.8rem;
            padding: 1.5rem 3rem;

                @include media('<=large-notebook'){
                    font-size: 1.6rem;
                    padding: 1.2rem 2.4rem;
                }

                @include media('<=xl-tablet', '>=xl-phone'){
                    font-size: 1.82rem;
                    padding: 1.6rem 2.7rem;
                    text-align: center;
                }

                @include media('<=xl-phone'){
                    padding: 1.6rem 2.3rem;
                    width: 95%;
                    font-size: 1.89rem;
                }
        }
    }

    // IMAGENS NA PAGINA 

    &__images-container{
        @include media('<=m-tablet', '>=xl-phone'){
            display: none;
        }
    }


    &__img-risquinho-sol-2{
        position: absolute;
        top: 82%;
        left: 58%;
        width: 41rem;

            @include media('<=l-tablet', '>=xl-phone'){
                position: absolute;
                top: 90%;
                left: 68%;
                width: 21rem;
            }

            @include media('<=xl-phone'){
                display: none;
            }
    }

    &__img-bg-creme{
        top: -34%;
        right: 7%;
        width: 40rem;
        height: 40rem;

        
            @include media('<=large-notebook'){
                top: -18%;
                right: -3%;
                width: 26rem;
                height: 26rem;
            }
            
            @include media('<=xl-tablet', '>=xl-phone'){
                top: -15%;
                right: -3%;
                width: 30rem;
                height: 30rem;
            }
    }

    &__img-bg-creme-2{
        position: absolute;
        top: 70%;
        left: 85%;
        width: 30rem;
        height: 30rem;
    }

    &__img-estatua-em-pe{
        position: absolute;
        left: 67%;
        top: 29%;
        width: 46rem;

            @include media('<=large-notebook'){
                width: 40rem;
                left: 68%;
                top: 33%;
            }

            
            @include media('<=notebook'){
                width: 36rem;
                left: 68%;
                top: 35%;
            }
            
            
            @include media('<=xl-tablet', '>=xl-phone'){
                width: 38rem;
                left: 70%;
                top: 49%;
            }
            
            @include media('<=l-tablet', '>=xl-phone'){
                width: 26rem;
                left: 77%;
                top: 64%;
            }

            @include media('<=xl-phone'){
                display: none;
            }
    }
}