.home-layout{
    position: relative;
    width: 95%;
    float: right;
    min-height: 100vh;
    overflow:hidden;

        @include media('<=m-tablet'){
            width: 90%;
        }

        @include media('<=xl-phone'){
            width: 100%;
        }
        
    
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 2rem;
            position: absolute;
            bottom: 0;
            background-image: url('../../img/bg_tangerina_saturado-footer.png');
            background-size: cover;
            background-position: center;
            z-index: 900;

                @include media('<=large-notebook'){
                    height: 1.4rem
                }

                @include media('<=xl-phone'){
                    height: 2.4rem;
                }
        }
        
        &:before{
            content: '';
            display: block;
            width: 70rem;
            height: 70rem;
            position: absolute;
            right: -10%;
            top: -38%;
            background-image: url('../../img/bg-creme.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

                @include media('<=xl-tablet'){
                    width: 55rem;
                    height: 55rem;
                    right: -10%;
                    top: -31%; 
                }

                @include media('<=l-tablet'){
                    width: 45vw;
                    height: 45vw;
                    top: -15%;
                    right: -10%;
                }

                @include media('<=m-tablet'){
                    width: 38vw;
                    height: 38vw;
                    top: 10%;
                    right: -10%;
                }

                @include media('<=s-tablet'){
                    width: 42vw;
                    height: 42vw;
                    top: -11%;
                    right: -9%;
                }

                @include media('<=xl-phone'){
                    width: 23rem;
                    height: 23rem;
                    right: -11%;
                    top: -5%;
                }  
        }

        &__images-container{
            position: relative;
            float: right;
            width: 65%;
            min-height: 100vh;
            left: 2rem;

                @include media('<=large-notebook'){
                    left: 6rem;
                }

                @include media ('<=small-notebook'){
                    left: 9rem;
                }
                
                @include media('<=xl-tablet'){
                    left: 14rem;
                }

                @include media('<=m-tablet'){
                    left: 0;
                    float: unset;
                    width: 100%;
                    min-height: 60rem;
                    margin-top: 3rem;
                }

                @include media('<=xl-phone'){
                    // display: none;
                    left: 0;
                    float: unset;
                    width: 100%;
                    min-height: 60rem;
                    margin-top: 7rem;
                }
        }

        &__img-estatua{
            position: absolute;
            left: 4%;
            bottom: -7%;
            width: 73%;
            z-index: 50;

                @include media('<=large-notebook'){
                    width: 76%;
                }

                @include media ('<=small-notebook'){
                    width: 80%;
                }

                @include media('<=l-tablet'){
                    transform: scalex(-1) rotate(6deg);
                    left: 20%;
                    width: 56vw;
                    min-width: 53rem;
                }

                @include media('<=xl-tablet'){
                    width: 86%;
                    bottom: -1%;
                }

                @include media('<=m-tablet'){
                    width: 91%;
                    left: 41%
                }

                @include media('<=xl-phone'){
                    right: -16%;
                    left: unset;
                    bottom: -4%;
                    width: 46rem;
                }

                @include media('<=m-phone'){
                    left: -45%;
                    width: 55rem;
                    bottom: -16%;
                }
        }

        &__img-colunas{
            position: absolute;
            bottom: 0;
            left: -3%;
            z-index: 40;
            width: 45rem;

                @include media('<=large-notebook'){
                    bottom: -1rem;
                }
                
                @include media('<=xl-tablet'){
                    left: -5%;
                    width: 45rem;
                }
                
                @include media('<=l-tablet'){
                    left: -6%;
                }
                
                @include media('<=m-tablet'){
                    left: 5%;
                    bottom: -17rem;
                }

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__img-pi-quadrado{
            position: absolute;
            top: 54%;
            left: 80%;
            width: 4.2rem;

                @include media('<=large-notebook'){
                    width: 3.8rem;
                    left: 83%;
                }

                @include media('<=small-notebook'){
                    display: none;
                }
                
                @include media('<=xl-phone'){
                    width: 3.2rem;
                    left: 73%;
                    top: 75%;
                    z-index: 200;
                    display: block;
                }

                @include media('<=l-phone'){
                    display: none;
                }
        }


        &__risquinhos-arco--comp{
            position: absolute;
            top: 63%;
            left: 38%;
            transform: rotate(140deg);

                @include media('<=large-notebook'){
                    width: 39rem;
                    top: 59%;
                    left: 35%;
                }

                @include media('<=m-tablet'){
                    display: none;
                }

                @include media('<=xl-phone'){
                    width: 28rem;
                    left: 38%;
                }
        }

        &__img-circulo{
            position: absolute;
            width: 35rem;
            height: 35rem;
            top: 20%;
            left: 14%;
            z-index: -1;
            background-color: $primary;
            border-radius: 30rem;

                @include media('<=l-tablet'){
                    width: 25rem;
                    height: 25rem;
                    top: 21%;
                    left: 15%;
                }

                @include media('<=m-tablet'){
                    width: 19rem;
                    height: 19rem;
                    top: 17%;
                    left: 24%;
                }

                @include media('<=xl-phone'){
                    width: 22rem;
                    height: 22rem;
                    top: 20%;
                    left: 14%;
                }

                @include media('<=m-phone'){
                    width: 25rem;
                    height: 25rem;
                    top: 26%;
                    left: -16%
                }

                &::after{
                    content: '';
                    @include align-middle;
                    display: block;
                    width: 113%;
                    height: 113%;
                    border-radius: 30rem;
                    border: 2px solid $primary;

                        @include media('<=xl-phone'){
                            width: 114%;
                            height: 114%;
                            border: 1px solid $primary;
                        }
                }
        }


        &__ciruclo-bg-creme{
            width: 30rem;
            height: 30rem;
            position: absolute;
            right: -4%;
            bottom: -14rem;
            background-image: url(../../img/bg-creme.png);
            background-size: cover;
            background-position: center;

                @include media('<=small-notebook'){
                    width: 26rem;
                    height: 26rem;
                }

                @include media('<=xl-phone'){
                    bottom: 29rem;
                    z-index: -30;
                }
        }

        &__risquinhos-arco{
            position: absolute;
            top: 82%;
            left: -6%;
            z-index: -1;
            width: 41rem;

                @include media('<=large-notebook'){
                    top: 87%;
                }

                @include media('<=m-tablet'){
                    display: none;
                }

                @include media('<=xl-phone'){
                    display: none;
                }

                @include media('<=m-phone'){
                    width: 28rem;
                    left: 16%;
                    top: 65%;
                }
        }


        &__title-container{
            position: absolute;
            top: 22%;
            left: 7.5%;

                @include media('<=large-notebook'){
                    top: 24%;
                }

                @include media('<=xl-tablet'){
                    left: 9.5%;
                    top: 25%;
                }

                @include media('<=m-tablet'){
                    position: relative;
                }

                @include media('<=xl-phone'){
                    position: relative;
                    top: 22%;
                    left: 5rem;
                }

                @include media('<=l-phone'){
                    padding: 0 0 0 4rem;
                    top: unset;
                    left: unset;
                }
        }

        &__content{
            position: absolute;
            top: 0;
            width: 100%;
            min-height: 100vh;

                @include media('<=m-tablet'){
                    position: relative;
                    min-height: unset;
                    margin-top: 21rem;

                }

                @include media('<=s-tablet'){
                    margin-top: 14rem;
                    padding-left: 4rem;
                }

                @include media('<=xl-phone'){
                    padding-left: 0;
                    position: relative;
                    min-height: unset;
                    margin-top: 19rem;
                }
        }

        &__title{
            color: $primary-dark;
            font-weight: 100;
            font-size: 5.3rem;
            line-height: 1;

                @include media('<=xl-tablet'){
                    font-size: 5.5rem;
                }

                @include media('<=l-tablet'){
                    font-size: 5rem;
                }

                @include media('<=xl-phone'){
                    font-size: 4.3rem;
                }  
                
        }

        &__title-emphasis{
            color: $primary;
            font-weight: 700;
            font-size: 5.8rem;

                @include media('<=xl-tablet'){
                    font-size: 6.1rem;
                }

                @include media('<=l-tablet'){
                    font-size: 5.7rem;
                }

                @include media('<=xl-phone'){
                    font-size: 4.3rem;
                }

                @include media('<=s-phone'){
                    font-size: 4.1rem;
                }
        }

        &__paragraph{
            width: 28rem;

                @include media('<=xl-phone'){
                    margin-top: 3rem;
                    width: 80%;
                }
        }

        &__btn-primary{
            &:link,
            &:visited{
                font-weight: 400;
                padding-bottom: 1.5rem;
                margin-left: -1rem;

            }

            &::before{
                content: '';
                vertical-align: sub;
                display: inline-block;
                width: 2rem;
                height: 2rem;
                background-image: url('../../img/icon-portfolio-home.svg');
                margin-right: 1rem;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }


}