.portfolio-layout{
    padding-top: 13rem;
    padding-left: 10rem;
    position: relative;
        @include media('<=xl-phone'){
            padding-left: 0;
            padding-bottom: 2rem;
        }

        &:before{
            content: '';
            position: absolute;
            right: 10%;
            top: 78%;
            display: block;
            width: 35rem;
            height: 35rem;
            background-image: url(../../img/linhas-arco.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transform: rotate(-50deg);

                @include media('<=notebook'){
                    width: 25rem;
                    height: 25rem;
                    right: 8%;
                    top: 80%;
                }

                @include media('<=xl-phone'){
                    content: unset;
                }
        }

        &__mini-titulo{
            margin-left: 4rem;
        }

        // FIM:: SETTINGS MAIN TAG PORTFOLIO ----------------

        // COMECO:: JOBS CONTAINER -----------------


        &__miolo-container{
            margin-top: 9rem;
            margin-left: 3rem;
            display: flex;

                @include media('<=xl-phone'){
                    margin:5rem auto 1rem auto;
                    width: 95%;
                    flex-direction: column;
                }


            
        }

        &__job-item{
            position: relative;
            display: inline-block;
            width: 42rem;
            
            @include media('<=large-notebook'){
                width: 33rem;
            }

            @include media('<=notebook'){
                width: 28rem;
            }

            @include media('<=xl-phone'){
                width: 31rem;
            }

            @include media('<=m-phone'){
                width: 27rem;
            }

            &:not(:last-child){
                margin-right: 14rem;

                @include media('<=1600px'){
                    margin-right: 10rem;
                }

                @include media('<=notebook'){
                    margin-right: 12rem;
                }

                @include media('<=small-notebook'){
                    margin-right: 14rem;
                }

                @include media('<=xl-phone'){
                    margin-right: unset;
                    margin-bottom: 12rem;
                }
            }
        }

        &__job-item_comp{
            position: relative;
            width: 100%;

                img{
                    position: absolute;
                    z-index: 300;
                }

            &--inloco-arquitetura{
                @include media('<=xl-phone'){
                    width: 33rem;
                }

                @include media('<=m-phone'){
                    width: 30rem;
                }
            }
        }

        &__job-item_comp-fundo{
            position: relative;
            width: 100%;
        }

        &__job-item_comp-img{
            position: absolute;
            top: -12%;
            left: -5%;
            border-radius: 1.5rem;
            box-shadow: 0px 0px 20px rgba($primary-dark, .2);
            width: 46%;
            z-index: 200;
        }

        &__job-item_comp-img--site{
            position: absolute;
            width: 45%;
            z-index: 300;
            top: 55%;
            left: 69%;
            transform: translate(-50%, -50%);
        }

        &__job-item_comp-img--post2{
            position: absolute;
            width: 46%;
            z-index: 300;
            transform: translate(-50%, -50%);
            top: 93%;
            left: 18%;
            border-radius: 1.5rem;
        }

        &__job-item-info-container{
            margin-top: 12rem;
            display: flex;

                @include media('<=notebook'){
                    margin-top: 9rem;
                }
        }

        &__job-item_comp-img-site-inloco-1{
            width: 90%;
            border-radius: 2rem;
            top: 14%;
            left: 39%;
            box-shadow: 0px 0px 20px rgba($primary-dark, .2);
            transform: translate(-50%, -50%);
        }

        &__job-item_comp-img-site-inloco-2{
            width: 90%;
            border-radius: 2rem;
            top: 87%;
            left: 39%;
            box-shadow: 0px 0px 20px rgba($primary-dark, .2);
            transform: translate(-50%, -50%);
        }

        &__job-item-info-cliente-dados{
            display: flex;
            align-items: center;
        }

        &__job-item-btn-container{
            z-index: 400;
            position: absolute;
            top: 34%;
            left: 99%;

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__job-item-cliente-logo{
            width: 7rem;
            box-shadow: -7px 7px $primary-light;
            height: auto;
            border-radius: 100%;

            @include media('<=notebook'){
                width: 6rem;
                height: 6rem;
            }

            @include media('<=small-notebook'){
                width: 5rem;
                height: 5rem;
            }

            @include media('<=xl-phone'){
                width: 6.3rem;
                height: 6.3rem;
            }
        }

        &__job-item-title-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            margin-left: 1.5rem;
            color: $primary-dark;

                @include media('<=xl-phone'){
                    flex-direction: column-reverse;
                }
        }

        &__job-item-title{
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 0.5rem;

                @include media('<=small-notebook'){
                    font-size: 1.4rem;
                } 

                @include media('<=xl-phone'){
                    white-space: nowrap;
                    font-size: 1.8rem;
                    margin-top:.5rem;
                    order: 1;
                }
        }

        &__job-item-ano{
            font-size: 1.3rem;
            font-weight: 400;

                @include media('<=large-notebook'){
                    
                }

                @include media('<=xl-phone'){
                    order: 2;
                }
        }

        &__job-item-categorias-container{
            max-width: 20rem;
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

                @include media('<=small-notebook'){
                    margin-left: 3rem;
                }  

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__job-item-categorias-lista-item{
            color: $primary-dark;
            font-size: 1.4rem;
            text-decoration: none;
            font-weight: 400;
            margin: .8rem 1rem 0 0;

                @include media('<=small-notebook'){
                    font-size: 1.2rem;
                }  


                &::before{
                    content: '';
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: .2rem;
                    vertical-align: middle;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translatey(-.2rem);
                    background-image: url('../../img/servico-interno/after-lista-tarefas.svg');

                        @include media('<=small-notebook'){
                            width: 1.2rem;
                            height: 1.2rem;
                        } 
                }
           


        }


        &__job-item-btn{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $primary;
            padding-bottom: .4rem;
            text-decoration: none;
            color: $white;
            text-align: center;
            width: 11rem;
            height: 11rem;
            border-radius: 100%;
            font-size: 1.5rem;
            transform: translate(-50%, -50%);

                @include media('<=large-notebook'){
                    width: 10rem;
                    height: 10rem;
                }

                @include media('<=notebook'){
                    width: 8rem;
                    height: 8rem;   
                    font-size: 1.36rem;
                }

                &::before{
                    content:'';
                    @include align-middle;
                    width: 107%;
                    height: 107%;
                    border-radius: 100%;
                    z-index: -2;
                    border: 1px solid $primary;
                }

                &::after{
                    content: '';
                    width: 100%;
                    height: 1.2rem;
                    opacity: 0.8;
                    margin-top: .7rem;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(../../img/portfolio/seta-branca.svg);

                        @include media('<=large-notebook'){
                            width: 100%;
                            height: 1rem;
                        }

                        @include media('<=large-notebook'){
                            height: .81rem;
                        }
                }
        }

        &__job-item-btn::selection{
            background-color: unset;
        }

        &__job-item-info-container--inloco-arquitetura{
            .portfolio-layout__job-item-title-container{
                left: 90%;
            }
        }

        &__job-item_fundo-creme{
            position: relative;
            width: 35rem;
            height: 35rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../../img/bg-creme.png);
            box-shadow: 0px 0px 23px 5px rgba($primary, .25);
            border-radius: 100%;

                @include media('<=large-notebook'){
                    width: 28rem;
                    height: 28rem;
                }

                @include media('<=notebook'){
                    width: 23rem;
                    height: 23rem;
                }

                @include media('<=xl-phone'){
                    width: 25rem;
                    height: 25rem;
                }


                &::after{
                    content:'';
                    position: absolute;
                    top: 3%;
                    left: -3%;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    z-index: -2;
                    border: 1px solid $primary;
                }
        }

        &__jobs-container{
            @include media('<=xl-phone'){
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: -2.5rem;
                margin-top: 7rem;
            }
        }

        // ----- FIM:: JOBS CONTAINER --------------

        // -------COMECO:: NEXT PAGE CONTAINER

        &__next-page-container{
            margin-left: 18rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40rem;
            transform: translatey(6rem);

                @include media('<=large-notebook'){
                    height: 35rem;
                }

                @include media('<=notebook'){
                    height: 31rem;
                }

                @include media('<=small-notebook'){
                    height: 31rem;
                    margin-left: 16rem;
                }

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__next-page-btn{
            &,
            &:visited,
            &:link{
                display: inline-block;
                width: 6rem;
                height: 6rem;
                background-image: url('../../img/arrow-next.svg');
                background-size: 22%;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 8px 8px $primary-light;

                @include media('<=large-notebook'){
                    width: 5rem;
                    height: 5rem;
                }

                @include media('<=notebook'){
                    width: 4.5rem;
                    height: 4.5rem;
                }

            }
        }

        &__next-page-title-link{
            color: $primary-dark;
            text-decoration: none;
            font-size: 1.5rem;
            text-align: center;
        }

        &__next-page-linha{
            width: .5px;
            margin: 3rem 0;
            background-color: rgba($primary-lighter, .6);
            height: 6rem;
        }


        // --------FIM:: NEXT PAGE CONTAINER 


        // ----------------- COMECO:: IMGS DE FUNDO -------

        &__images-container{
            z-index: -1;
        }

        &__img-estatua-masculina{
            position: absolute;
            top: -23%;
            left: 59%;
            width: 38rem;

                @include media('<=large-notebook'){
                    top: -21%;
                    left: 66%;
                    width: 40rem;
                }

                @include media('<=notebook'){
                    top: -19%;
                    left: 68%;
                    width: 34rem;
                }

                @include media('<=small-notebook'){
                    top: -19%;
                    left: 69%;
                    width: 31rem;
                }

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__img-homem-canto{
            position: absolute;
            width: 35rem;
            left: 80%;
            top: 64%;

                @include media('<=notebook'){
                    width: 25rem;
                    left: 81%;
                    top: 67%;
                }
               
                @include media('<=small-notebook'){
                    width: 21rem;
                    left: 83%;
                    top: 72%;
                }

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__img-risquinho-sol{
            position: absolute;
            top: -5%;
            left: 57%;
            width: 25rem;
            transform: rotate(-143deg);

                @include media('<=large-notebook'){
                    top: -5%;
                    left: 58%;
                    width: 27rem;
                    transform: rotate(-129deg);
                    z-index: -1;
                }

                @include media('<=notebook'){
                    left: 63%;
                }

                @include media('<=small-notebook'){
                    left: 65%;
                    width: 23rem;
                }

                @include media('<=xl-phone'){
                    display: none;
                }
        }

        &__img-bg-creme{
            position: absolute;
            top: -26%;
            right: -2%;
            width: 45rem;
            height: 45rem;
            z-index: -1;
            background-image: url(../../img/bg-creme.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

                @include media('<=large-notebook'){
                    top: -36%;
                }

                @include media('<=notebook'){
                    width: 37rem;
                    height: 37rem;
                    top: -32%;
                }

                @include media('<=small-notebook'){
                    width: 34rem;
                    height: 34rem;
                    top: -29%;
                    left: 77%;
                }

                @include media('<=xl-phone'){
                    width: 23rem;
                    height: 23rem;
                    right: -3rem;
                    top: -5rem;
                    left: unset;
                }
        }

        &__img-bg-creme-2{
            position: absolute;
            bottom: -5%;
            right: -2%;
            width: 25rem;
            height: 25rem;
            z-index: -1;
            background-image: url(../../img/bg-creme.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

                @include media('<=notebook'){
                    width: 20rem;
                    height: 20rem;
                }

                @include media('<=small-notebook'){
                    bottom: -8%;
                    right: -6%;
                }

                @include media('<=xl-phone'){
                    display: none;
                }

        }

         // ----------------- FIM:: IMGS DE FUNDO -------

}