.sobre-nos_layout{
    
    // -------  HEADER TEXTO COMECO ------ 

    @include media('<=xl-phone'){
        padding-top: 21rem;
        padding-left: 4rem;
    }

    @include media('<=m-tablet', '>=xl-phone'){
        .mini-menu{
            display: none;
        }
    }

    &__header-title-container{
        justify-content: unset;
        
            @include media('<=l-tablet', '>=xl-phone'){
                width: 80%;
            }

            @include media('<=xl-phone'){
                width: 96%;
                flex-direction: column;
                align-items: start;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                flex-direction: column;
                align-items: flex-start;
            }
    }

    &__paragraph{
        @include media('<=xl-phone'){
            min-width: 29rem;
        }

        @include media('<=m-tablet', '>=xl-phone'){
            width: unset;
        }
    }

    &__header-title{
        margin-right: 4rem;
        display: block;

            @include media('<=small-notebook'){
                font-size: 2.8rem;
            }

            @include media('<=l-tablet', '>=xl-phone'){
                font-size: 3.4rem;
                margin-right: 5rem;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                font-size: 4rem;
            }

            @include media('<=xl-phone'){
                font-size: 3rem;
                margin-bottom: 2rem;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                margin-bottom: 2rem;
            }

    }

    // ---------- FIM::: HEADER TEXTO COMECO 

    // ------------- MIOLO CONTAINER COMEÇO ----------------

    &__miolo-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 133rem;

            @include media('<=large-notebook'){
                justify-content: flex-start;
            }

            @include media('<=l-tablet', '>=xl-phone'){
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 12rem;
            }

            @include media('<=xl-phone'){
                flex-direction: column;
                align-items: flex-start;
                transform: translateX(-15px);
            }
    }

    // ------------- FIM::: MIOLO CONTAINER ----------------

    // ------------- CRENCAS COMEÇO ----------------

    &__crencas-container{
        margin-top: 7.7rem;

            @include media('<=notebook'){
                margin-top: 5.7rem;
            }
    }

    &__crencas-lista-coluna--1{
        margin-right: 6rem;

            @include media('<=large-notebook'){
                margin-right: 4rem;
            }

            @include media('<=small-notebook'){
                margin-right: 2rem;
            }

            @include media('<=xl-phone'){
                margin-right: 0;
            }

       
    }

    &__crencas-lista{
        position: relative;
        display: flex;
        max-width: 97rem;

            @include media('<=xl-phone'){
                flex-direction: column;
            }

    }
    
    &__crencas-lista_item{
        display: flex;
        align-items: center;
        margin-bottom: 4rem;

            @include media('<=large-notebook'){
                margin-bottom: 3rem;
            }

            &::before{
                content: '';
                display: inline-block;
                height: 13rem;
                width: 11rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../../img/sobre-nos/portal-lista-item.svg');

                    @include media('<=large-notebook'){
                        height: 10rem;
                        width: 9rem;
                    }

                    @include media('<=l-tablet', '>=xl-phone'){
                        height: 12rem;
                        width: 10rem;
                    }

                    @include media('<=xl-phone'){
                        height: 11rem;
                        width: 10rem;
                    }
            }
    }

    &__crencas-lista_texto{
        font-family: 'Playfair';
        color: $primary-dark;
        font-style: italic;
        font-weight: 100;
        font-size: 2.2rem;
        transform: translate(-4.5rem, -0.4rem);
        -webkit-box-decoration-break:clone;
        background-color: white;
        padding: .5rem 0;

            @include media('<=large-notebook'){
                font-size: 2rem;
            }

            @include media('<=small-notebook'){
                font-size: 1.9rem;
            }  

            .bold{
                background-image: linear-gradient(to top, $primary-light 0%, $primary-light 40%, #ffffff 40%);
            }

            @include media('<=l-tablet', '>=xl-phone'){
                font-size: 2.3rem;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                font-size: 2rem;
            }

            @include media('<=s-tablet', '>=xl-phone'){
                font-size: 1.8rem;
            }

            @include media('<=xl-phone'){
                font-size: 2.1rem;
            }
        
    }

    // ------------- FIM:::: CRENCAS COMEÇO ----------------

    // ------------- BOX SOBRE NÓS COMEÇO ----------------

    &__descricao-box_container{
        position: relative;
        background-color: $primary-light;
        border-radius: 3rem;
        padding: 1rem 0;
        max-width: 42rem;
        height: fit-content;

            @include media('<=large-notebook'){
                max-width: 36rem;
                margin-bottom: -2rem;
            }

            @include media('<=notebook'){
                margin-bottom: -1rem;
            }

            @include media('<=l-tablet', '>=xl-phone'){
                max-width: unset;
                display: flex;
                width: 70vw;
                align-items: center;
                padding: 2rem 2rem;
                margin: 5rem 0 5rem 0;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                width: 77vw;
            }

            @include media('<=xl-phone'){
                margin: 2rem 1rem 2rem 1rem;
            }

            &::before{
                content: '';
                position: absolute;
                top: -12%;
                left: 54%;
                z-index: -1;
                transform: translate(-50%, -50%) rotate(178deg);
                display: block;
                width: 67rem;
                height: 42rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../../img/ESTATUA-HOMEM-1.png);

                    @include media('<=large-notebook'){
                        top: -7%;
                        left: 54%;
                        width: 43rem;
                        height: 34rem;
                    }

                    @include media('<=l-tablet', '>=xl-phone'){
                        content: unset;
                    }

                    @include media('<=xl-phone'){
                        content: unset;
                    }
            }   

            &::after{
                content: '';
                position: absolute;
                bottom: -60%;
                left: 51%;
                z-index: -1;
                transform: translate(-50%, -50%) rotate(175deg);
                display: block;
                width: 32rem;
                height: 28rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../../img/linhas-arco.svg);

                    @include media('<=large-notebook'){
                        content: unset;
                    }

                    @include media('<=xl-phone'){
                        content: '';
                        width: 28rem;
                        height: 23rem;
                        bottom: -50%;
                    }
            }
    }

    &__descricao-box_item{
        width: 87%;
        height: 19.5rem;
        position: relative;
        display: flex;
        align-items: center;
        margin: 2rem auto;
        padding: 0rem 1rem 0rem 4rem;
        background-color: #ffffff;
        border-radius: 3rem 20rem 20rem 3rem;

            @include media('<=large-notebook'){
                border-radius: 3rem 3rem 3rem 3rem;
                flex-direction: row-reverse;
                padding: 0 2rem 0 0;
                overflow: hidden;
            }
            
            @include media('<=notebook'){
                height: 18.5rem;
            }
            
            @include media('<=l-tablet', '>=xl-phone'){
                margin:0;
                height: 23.5rem;
            }


            &:not(:first-child){
                margin-top: 0;

                    @include media('<=l-tablet', '>=xl-phone'){
                        margin-left: 2rem;
                    }
            }
    }

    &__descricao-box_title{
        color: $primary-dark;
        font-size: 2.3rem;
        font-weight: 600;

            @include media('<=l-tablet', '>=xl-phone'){
                font-size: 2.5rem;
            }
    }

    &__descricao-box-img-container{
        // position: absolute;
        transform: scale(1.1) translatex(1rem);
        margin-left: 1rem;
        width: 20rem;

            @include media('<=large-notebook'){
                width: 13rem;
                height: 100%;
                margin-right: 3rem;
                margin-left: 0;
                transform: unset;
                border-radius: 3rem 0 0 3rem;
                overflow: hidden;
            }
    }

    &__descricao-box-img{
        width: 100%;

            @include media('<=large-notebook'){
                height: 100%;
                object-fit: cover;
                transform: scale(1.2);
            }
    }

    &__descricao-box_paragraph{
        margin: 1rem 0;
        font-weight: 100;
        font-size: 1.2rem;
        max-width: 27rem;



        @include media('<=large-notebook'){
            font-weight: 400;
        }

        @include media('<=l-tablet', '>=xl-phone'){
            font-size: 1.3rem;
        }
    }

    &__descricao-box_social-media-link{
        width: 2rem;
        text-decoration: none;
        vertical-align: middle;
        display: inline-block;

            @include media('<=l-tablet', '>=xl-phone'){

            }

            &:not(:last-child){
                margin-right: .5rem;
            }
    }

    &__descricao-box_social-media-img{
        width: 100%;
    }


       // ------------- FIM :::: BOX SOBRE NÓS COMEÇO ----------------

    &__img-risquinho-sol{
        top: -5%;
        left: 48%;
        width: 32rem;
        transform: rotate(235deg);
        z-index: -2;

            @include media('<=large-notebook'){
                top: 2%;
                left: 62%;
                width: 25rem;
                transform: rotate(235deg);
            }

            @include media('<=l-tablet', '>=xl-phone'){
                top: -1%;
                left: 55%;
            }

            @include media('<=m-tablet', '>=xl-phone'){
                top: -1%;
                left: 45%;
                transform: rotate(216deg);
            }

            @include media('<=s-tablet', '>=xl-phone'){
                width: 22rem;
            }

            @include media('<=xl-phone'){
                display: none;
            }
    }

    &__img-bg-creme{
        top: -31%;
        right: 15%;
        width: 45rem;
        height: 45rem;

            @include media('<=large-notebook'){
                top: -16%;
                right: 6%;
                width: 30rem;
                height: 30rem;
            }

            @include media('<=s-tablet', '>=xl-phone'){
                top: -9%;
                right: 10%;
                width: 23rem;
                height: 23rem;
            }

            @include media('<=xl-phone'){
                width: 23rem;
                height: 23rem;
                right: -3rem;
                top: -5rem;
            } 
    }

}